.copyScreen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    opacity: 0;

    background: rgba(0,0,0, .25);
    color: #fff;

    transition: all 0.3s;

}
.copyScreenVisible{
    opacity: 1;    
}
.supervisor-container {
    padding: 0 20px;
    
    .header {
        display: table;
        width: 100%;
        height: 90px;
        box-shadow: inset 0 -1px 0 0 $base-uicolor-2;

        .title {
            display: table-cell;
            vertical-align: middle;
            width: 75%;
            padding-left: 20px;

            .h6 {
                float: left;
                line-height: 48px;
                cursor: pointer;
            }

            .line-divide {
                float: left;
                height: 48px;
                width: 20px;
                margin: 0 10px;
                background: url('assets/images/divider-line.png') center no-repeat;
            } 

            h5 {
                float: left;
                min-width: 20%;
                line-height: 48px;
            }
        }

        .sign-out {
            display: table-cell;
            vertical-align: middle;
            width: 75px;
            text-align: right;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .back-to-games {
            display: table-cell;
            vertical-align: middle;
            width: 110px;
            text-align: right;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .back-to-classes {
            display: table-cell;
            vertical-align: middle;
            width: 120px;
            text-align: right;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .button-field {
            display: table-cell;
            vertical-align: middle;
            width: 30%;
            padding-right: 20px;
            text-align: right;
        }
    }

    .add-new-class-button {
        display: table;
        width: 100%;
        height: 128px;
        text-align: right;
        box-shadow: inset 0 -1px 0 0 $base-uicolor-2;

        button {
            top: 39px;
            width: 20%;
        }
    }

    .classroom-wrapper {
        padding-right: 0;
        padding-left: 20px;

        .classroom {
            height: 200px;
            padding: 30px 20px;
            margin-bottom: 20px;
            box-shadow: inset -1px -1px 0 0 $base-uicolor-2;
            cursor: pointer;
    
            .name {
                height: 40px;
            }
    
            .footer {
                display: table;
                width: 100%;
                height: 40px;
                
                .time-span {
                    display: table-cell;
                    vertical-align: bottom;
                    width: 50%;
    
                    .start, .icon, .end {
                        float: left;
                    }
                }
    
                .students {
                    display: table-cell;
                    vertical-align: bottom;
                    width: 50%;
                    text-align: right;
                }
            }
        }
    }

    .students-list {

        .student-wrapper {
            padding-right: 0;
            padding-left: 20px;
    
            .student {
                height: 100px;
                width: 315px;
                margin-top: 30px;
                cursor: pointer;
    
                .left {
                    position: relative;
                    float: left;
    
                    .profile-photo {
                        height: 100px;
                        width: 100px;
                        margin-right: 15px;
                        border: 1px solid $base-uicolor-2;
                        border-radius: 50%;
                        background: url('assets/images/profile-photo.png') center no-repeat;
                    }
    
                    .icon {
                        position: absolute;
                        bottom: 10px;
                        right: 5px;
                        background-color: $white;
                        border: 1px solid $base-uicolor-2;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
    
                .right {
                    float: left;
                    padding-top: 16px;
    
                    .files {
    
                        .online {
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            background-color: #7ED321;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .new-class-entry {
        height: 160px;
        padding: 44px 0 30px 22px;
        box-shadow: inset 0 -1px 0 0 $base-uicolor-2;

        .classname:hover, .classname-description:hover {
            .icon {
                display: block;
            }
        }

        .classname {

            .input-elem, .classname-span {
                @extend .h3;
                float: left;
                max-width: 45% !important;
                text-overflow: ellipsis;
                white-space: pre;
            }

            .classname-span {  
                position: absolute;
                left: -9999px;
                top: -9999px;
                max-width: unset;
            }

            @media only screen and (max-width: 1400px) {
                .input-elem {
                    max-width: 35% !important;
                }
            }

            @media only screen and (max-width: 1120px) {
                .input-elem {
                    max-width: 30% !important;
                }
            }
            
            .icon {
                display: none;
                float: left;
                cursor: pointer;
            }
        }

        .classname-description {
            clear: both;

            .input-elem, .description-span {
                @extend .p;
                max-width: 45% !important;
                float: left;
                text-overflow: ellipsis;
                white-space: pre;
            }

            .description-span {  
                position: absolute;
                left: -9999px;
                top: -9999px;
                max-width: unset;
            }
            
            .icon {
                display: none;
                float: left;
                position: relative;
                top: -4px;
                cursor: pointer;
            }

            @media only screen and (max-width: 1400px) {
                .input-elem {
                    max-width: 35% !important;
                }
            }

            @media only screen and (max-width: 1120px) {
                .input-elem {
                    max-width: 30% !important;
                }
            }
        }

        .invitation-link {
            display: none;
            position: relative;
            width: 20%;
            float: right;
            margin-left: 20px;
            overflow: hidden;

            &.copied:after{
                content: 'Copied to clipboard';
                position: absolute;
                left: 0;
                top: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                background: $base-uicolor-2;
                text-align: center;
                padding-top: 15px;
                font-family: $font-secondary;
            }

            &.displayed {
                display: block;
            }
        }
    }
    .buttons-footer {
        float: right;
        width: auto;
        height: 50px;
        margin-top: 50px;
        margin-bottom: 80px;

        button {
            min-width: 15%;
            width: auto;
            padding: 0 30px;
            float: right;
            margin-left: 20px;
        }
    }
}