<div>
	<div class="input-field" v-bind:class="[
		focused ? 'inputFocused' : '',
		disabled ? 'inputDisabled' : '',
		filledInput ? 'filled' : ''
		]">
		<label @click="inputFocus">{{ labelName }}</label>
		<input
			:value="value"
			ref="inputField"
			:type="typeProp"
			v-on:blur="setFocus(false)"
			v-on:focus="setFocus(true)"
			@input="updateEmitVal" />
			<div>
				<svgIcon v-if="iconName" :name="iconName" sizeH="20px" class="input-icon" />
			</div>
	</div>
	<div v-if="required && !filledInput && !focused" class="errorMessage">* Field required</div>
</div>