<div class="zoom-panel">
  <!-- Zoom on -->
    <div class="z-panel-body">
      <div class="table-cell-holder">
        <div class="z-mask-panel" @click="$emit('closeZoomPanel')"></div>
        <div
          @dragover="panImage"
          @dragstart="dragStartFoo"
          @dragend="dragEndFoo"
          :class="hovered ? 'hovered' : '' "
          class="scroll-holder" ref="scroller">
            <img
            :src="`${imagePath}`" 
            ref="zoomImage" />
        </div>
      </div>
    </div>
    <!-- Icons -->
    <div class="zoom-panel-controls">
      <div 
        v-if="slider"
        class="zoom-panel-item"
        @click="prevImage">
        <SvgIcon class="icon" customColor="#fff" name="arrow-left" />
      </div>
      <div 
        v-if="slider"
        class="zoom-panel-item"
        @click="nextImage" >
        <SvgIcon class="icon" customColor="#fff" name="arrow-right" />
      </div>
      <div class="zoom-out zoom-panel-item" @click="toogleZoom">
        <SvgIcon class="icon" name="zoom-out" customColor="#fff" />
      </div>
      <div class="zoom-plus zoom-panel-item" @click="zoomIn">
        <SvgIcon class="icon" name="plus" customColor="#fff"/>
      </div>
      <div class="zoom-minus zoom-panel-item" @click="zoomOut">
        <SvgIcon class="icon" name="minus" customColor="#fff"/>
      </div>
    </div>
</div>