<div class="notebook-list">
    <li v-for="(item, index) in list"
        :key="index"
        class="notebook-list-item"
        @click="$emit('selectItem', item)" >
        <div v-if="index != '0'" class="notebook-list-item-line"></div>
        <div v-if="index != '0'" class="notebook-list-item-arrow"></div>
        <span class="notebook-list-item-index">
          0{{ index + 1}}
        </span>
        <span :class="item.current ? 'notebook-list-item-current' : ''">
          {{ item.title }}
        </span>
    </li>
</div>