.date-picker {
    position: relative;
    height: 50px;
    width: 218px;

    input {
        height: 50px;
        box-shadow: inset 0 -1px 0 0 $base-primary;
    }

    .calendar {
        position: absolute;
        top: 4px;
        left: 176px;
    }

    .popover-origin {
        div {
            border-radius: 0 !important;
        }
    }

    .c-pane-container {
        background-color: $white;
        z-index: 1;
    }

    .c-header, .c-weekdays, .c-day-content {
        height: 50px;
        color: $black;
        font-family: $font;
        font-size: 16px;
        line-height: 20px;
    }

    .c-header, .c-weekdays {
        border-bottom: 1px solid $base-ghost;
    }
    
    .c-day-content {
        border-radius: 0;
        width: 50px;
    }

    .c-day-backgrounds .c-day-layer {
        background-color: $base-primary !important;
    }

    .c-day-background {
        border-radius: 0 !important;
        background-color: $base-primary !important;
    }
}