$top: 90px;

.dialog-mask {
  position: fixed;
  top: 0;
  right: 90px;
  width: 100%;
  height: 100%;
  padding-left: $top;
  background-color: rgba(240, 243, 245, 0.9);
  z-index: 100;
  transition: opacity 0.3s ease;
  overflow-y: scroll;
}
  
.dialog-container {
  position: relative;
  top: 10%;
  padding: 90px 90px 20px 90px;
  margin-bottom: $top;
  min-height: 80%;
  background-color: $white;
  box-shadow: 0 15px 30px 0 rgba(47, 49, 51, 0.2);
  transition: all 0.3s ease;

  .dialog-left {
    width: 30%;
    height: 100%;
    float: left;
    padding-right: 10px;
    background-color: $white;

    .dialog-image {
      width: 100%;
    }
  }

  .dialog-right {
    width: 70%;
    float: left;
    height: 100%;
    padding: 0 10px 0 45px;

    p {

      strong {
        @extend .h5;
        font-weight: normal;
        font-family: 'Libre Baskerville';
      }
    }

    .dialog-buttons-div {
      display: block;
      width: 100%;
      margin: 50px 0;

      .dialog-button {
        display: inline-block;
        vertical-align: middle;
        width: 48%;
        margin-right: 4%;
        padding: 0 2rem;

        &:last-child{
          margin-right: 0px;
        }
      }

      .dialog-button-full {
        width: 100%;
      }
    }
  }
}