.error-box{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  .error-body{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 13;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);

    p{
      margin-bottom: 30px;padding-top: 20px;
    }
  }
}