.game-selection-container {
    height: calc(100vh - 90px);
    padding-top: 140px;

    .header {
        display: table;
        width: 100%;
        margin-bottom: 80px;

        .title {
            display: table-cell;
            vertical-align: middle;
            width: 70%;
        }

        .supervise-game {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .lead-text {
        width: 100%;
        margin-bottom: 40px;
    }

    .start-game {
        width: 100%;
        margin-bottom: 60px;
    }

    .class-games {
        margin-bottom: 60px;
    }

    .open-games {
        margin-bottom: 60px;
    }

    .finished-games {
        margin-bottom: 30px;
    }

    .delete-account {
        display: table-cell;
        float: right;
        width: 30%;
        vertical-align: middle;
        margin-bottom: 50px;
    }
}