.game-selection-container {
    height: 100vh;
    padding-top: 140px;
    margin-bottom: 90px;

    .header {
        display: table;
        width: 100%;
        margin-bottom: 80px;

        .title {
            display: table-cell;
            vertical-align: middle;
            width: 70%;

            h1 {
                font-weight: normal;
            }
        }

        .supervise-game {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .lead-text {
        width: 100%;
        margin-bottom: 40px;
    }

    .start-game {
        width: 100%;
        margin-bottom: 60px;
    }

    .class-games {
        margin-bottom: 60px;

        h5 {
            font-weight: normal;
        }
    }

    .open-games {
        margin-bottom: 60px;

        h5 {
            font-weight: normal;
        }
    }

    .finished-games {
        margin-bottom: 30px;

        h5 {
            font-weight: normal;
        }
    }

    .delete-account {
        display: table-cell;
        vertical-align: middle;
        width: 30%;
        float: right;
        margin-bottom: 50px;
    }
}