// Main Container
.main-container {
    width: 100%;
    height: 100%;

    .storyline-container {

        .h1 {

            p {
                @extend .h1;
            }
        }

        .storyline-title {
            display: block;
            margin-bottom: 80px;
            

            .page-title-icon-container {
                display: block;
                text-align: right;
                transition: all 0.3s;

                .icon {
                    width: 72px;
                    height: 62px;
                }

                &.notebook-opened {
                    height: 72px;
                    padding: 0;

                    .icon {
                        position: relative;
                        top: 50%;
                        width: 100%;
                        height: auto;
                        transform: translateY(-50%);
                    }
                }
            }

            .page-title {

                p {
                    @extend .h1;
                    line-height: 1.3;
                    font-family: inherit;
                }
            }
        }

        .page-components-wrapper {

            .text-component {
                margin-bottom: 2.5rem;
            }

            .text-area-exercise {
                position: relative;
                min-height: 175px;
                width: 100%;
                padding: 60px;
                background-color: $base-ghost;
                box-sizing: border-box;

                textarea {
                    width: 100%;
                    min-height: 159px;
                    padding: 0 10px;
                    color: #2F3133;
                    font-size: 17px;
                    line-height: 32px;
                    letter-spacing: 0.2px;
                    background-image: -moz-linear-gradient(top , transparent, transparent 31px,$base-gradient-color 0px);
                    background-image: -webkit-linear-gradient(top , transparent, transparent 31px,$base-gradient-color 0px);
                    resize: none;
                    overflow-y: hidden;
                    -webkit-background-size: 100% 32px;
                    background-size: 100% 32px;
                }

                .typing {
                    line-height: 35px;
                    height: 35px;
                }
            
                .autosaved {
                    float: right;
                    height: 35px;
                    line-height: 35px;
                    text-align: right;
                }
            
                .icon {
                    float: right;
                    line-height: 35px;
                    height: 35px;
                    text-align: right;
                }

            }
            
            .image-component {
                position: relative;
                height: auto;
                width: 100%;
                margin-bottom: 40px;
                z-index: 10;
                transition: all 0.3s;
                -webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;          /* Likely future */  

                // Image slider
                .image-gallery-container{
                    position: relative;
                    overflow: hidden;

                    &:hover{
                        .prev-arrow, .next-arrow{
                            transform: translateX(0) translateY(-50%);
                            opacity: 1;
                        }
                    }

                    .image-slider-arrow{
                        position: absolute;
                        top: 50%;
                        z-index: 2;
                        color: white;
                        background: rgba(0,0,0, 0.5);
                        transition: all 0.3s;
                        cursor: pointer;
                        opacity: 0;
                    }
                    .prev-arrow{
                        left: 0;
                        transform: translateX(-50%) translateY(-50%);
                    }
                    .next-arrow{
                        right: 0;
                        transform: translateX(50%) translateY(-50%);
                    }
                }
                .image-slider-counter{
                    float: left;
                    margin-top: 25px;
                    font-family: $font-secondary;
                    color: $base-primary;
                }
                // End of Image slider

                &:hover {

                    .zoom-in {
                        display: block;
                    }
                }

                &.active {
                    z-index: 20;
                }

                img {
                    width: 100%;
                    box-shadow: inset 1px 1px 5px 0 rgba(#000000, 0.2);
                }

                .zoom-in {
                    display: none;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(#000000, 0.4);

                    .icon {
                        position: relative;
                        top: 5px;
                        left: 5px;
                        height: 30px;
                        width: 30px;
                        cursor: pointer;
                    }
                }

                .image-mask {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(#000000, 0.8);
                    overflow: scroll;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    transition: opacity .5s ease;

                    .image-container {
                        position: relative;
                        top: 80px;
                        max-width: 300%;
                        padding: 0 40px;
                        margin: 0 auto;
                        margin-bottom: 80px;
                        box-shadow: 0 15px 30px 0 rgba(#000000, 0.5);
                        transition: all .5s ease;

                        img {
                            width: 100%;
                        }
    
                        .zoom-out {
                            position: absolute;
                            top: 10px;
                            right: 50px;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#000000, 0.4);
        
                            .icon {
                                position: relative;
                                top: 5px;
                                left: 5px;
                                height: 30px;
                                width: 30px;
                                cursor: pointer;
                            }
                        }
    
                        .zoom-plus {
                            position: absolute;
                            bottom: 51px;
                            right: 50px;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#000000, 0.4);
        
                            .icon {
                                position: relative;
                                
                                cursor: pointer;
                            }
                        }
        
                        .zoom-minus {
                            position: absolute;
                            bottom: 10px;
                            right: 50px;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#000000, 0.4);
        
                            .icon {
                                position: relative;
                                
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .image-caption {

                p {
                    @extend .small;
                    margin-top: 20px;
                    text-align: left;
                    overflow: hidden;
                    font-weight: 400;
                }
            }

            .zoom-panel{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .z-mask-panel{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0, 0.75);
                    z-index: 1;
                }

                .zoom-panel-controls{
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    z-index: 9;
                    width: 100%;
                    text-align: center;

                    .zoom-panel-item{
                        display: inline-block;
                        margin-right: 5px;
                        background: rgba(0,0,0, 0.75s);
                        cursor: pointer;
                    }
                }

                .z-panel-body{
                    display: table;
                    position: relative;
                    z-index: 2;
                    height: 100%;
                    width: 100%;

                    .table-cell-holder{
                        display: table-cell;
                        height: 100%;
                        width: 100%;
                        vertical-align: middle;
                        text-align: center;
                    }

                    .scroll-holder{
                        position: relative;
                        z-index: 3;
                        display: inline-block;
                        max-width: 100vw;
                        max-height: 100vh;
                        overflow: scroll;

                        cursor: grab;

                        

                        &.hovered{
                            cursor: grabbing;
                        }
                    }

                    img{
                        display: block;
                        width: auto;
                        height: auto;
                    }
                }
            }  
        }
    }

}

.upload-files-container {
    width: 100%;
    background-color: inherit;

    .upload-files-header {
        height: 40px;
        margin-left: 10%;
        margin-bottom: 30px;
    }

    .loader-bar{  
        position: absolute;
        right: 100%;
        z-index: 20;  
        width: 100%;
        height: 100%;
        background-color: #000;
        text-align: center;
        padding-top: 110px;
        color: #fff;
        transition: all 0.3s;
    }

    .upload-files-main {
        position: relative;
        height: 240px;
        background-color: $base-uicolor-4;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: -8px;
            right: 50%;
            height: 256px;
            border: 1px solid $white;
            transform: rotate(20deg);
        }

        &:hover {
            outline: 2px dashed $base-primary-border;
        }
        
        .left {
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 238px;
            line-height: 238px;
            text-align: center;
        }

        .right {
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 238px;
            line-height: 238px;
            text-align: center;

            input {
                display: none;
            }

            label {
                display: inline-block;
                height: 20px;
                cursor: pointer;
                font-family: $font-secondary;
            }
        }
        
        .center {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            width: 10%;
            height: 240px;
            line-height: 240px;
            text-align: center;
            
        }
    }

    
}