// Main Container
.main-container {
    width: 100%;
    height: 100%;

    .storyline-container {

        .h1 {

            p {
                @extend .h1;
            }
        }

        .storyline-title {
            display: table;
            margin-bottom: 80px;

            .page-title-icon-container {
                display: table-cell;
                vertical-align: middle;
                float: none;
                text-align: center;

                .icon {
                    width: 72px;
                    height: 62px;
                }
            }

            .page-title {
                width: 80%;
                float: left;
                padding: 0 10px;

                p {
                    @extend .h1;
                    line-height: 1.3;
                    font-family: inherit;

                    strong{
                        font-weight: 400;
                    }
                }
            }
        }

        .page-components-wrapper {

            .text-component {
                margin-bottom: 2.5rem;
            }

            .text-area-exercise {
                position: relative;
                min-height: 175px;
                width: 100%;
                padding: 60px;
                background-color: $base-ghost;
                box-sizing: border-box;

                textarea {
                    width: 100%;
                    min-height: 159px;
                    padding: 0 10px;
                    color: #2F3133;
                    font-size: 17px;
                    line-height: 32px;
                    letter-spacing: 0.2px;
                    background-image: -moz-linear-gradient(top , transparent, transparent 31px,$base-gradient-color 0px);
                    background-image: -webkit-linear-gradient(top , transparent, transparent 31px,$base-gradient-color 0px);
                    resize: none;
                    overflow-y: hidden;
                    -webkit-background-size: 100% 32px;
                    background-size: 100% 32px;
                }

                .typing {
                    line-height: 35px;
                    height: 35px;
                }
            
                .autosaved {
                    float: right;
                    height: 35px;
                    line-height: 35px;
                    text-align: right;
                }
            
                .icon {
                    float: right;
                    line-height: 35px;
                    height: 35px;
                    text-align: right;
                }

            }
            
            .image-component {
                position: relative;
                height: auto;
                width: 100%;
                margin-bottom: 40px;
                z-index: 10;
                transition: all 0.3s;

                // Image slider
                .image-gallery-container{
                    position: relative;
                    overflow: hidden;

                    &:hover{
                        .prev-arrow, .next-arrow{
                            transform: translateX(0) translateY(-50%);
                            opacity: 1;
                        }
                    }

                    .image-slider-arrow{
                        position: absolute;
                        top: 50%;
                        z-index: 2;
                        color: white;
                        background: rgba(0,0,0, 0.5);
                        transition: all 0.3s;
                        cursor: pointer;
                        opacity: 0;
                    }
                    .prev-arrow{
                        left: 0;
                        transform: translateX(-50%) translateY(-50%);
                    }
                    .next-arrow{
                        right: 0;
                        transform: translateX(50%) translateY(-50%);
                    }
                }
                .image-slider-counter{
                    float: left;
                    margin-top: 25px;
                    font-family: 'Apercu';
                    color: $base-primary;
                }
                // End of Image slider

                &:hover {

                    .zoom-in {
                        display: block;
                    }
                }

                &.active {
                    z-index: 20;
                }

                img {
                    width: 100%;
                    box-shadow: inset 1px 1px 5px 0 rgba(#000000, 0.2);
                }

                .zoom-in {
                    display: none;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(#000000, 0.4);

                    .icon {
                        position: relative;
                        top: 5px;
                        left: 5px;
                        height: 30px;
                        width: 30px;
                        cursor: pointer;
                    }
                }

                .image-mask {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(#000000, 0.8);
                    overflow: scroll;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    transition: opacity .5s ease;

                    .image-container {
                        position: relative;
                        top: 80px;
                        max-width: 100%;
                        padding: 0 40px;
                        margin: 0 auto;
                        margin-bottom: 80px;
                        box-shadow: 0 15px 30px 0 rgba(#000000, 0.5);
                        transition: all .5s ease;

                        img {
                            width: 100%;
                        }
    
                        .zoom-out {
                            position: absolute;
                            top: 10px;
                            right: 50px;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#000000, 0.4);
        
                            .icon {
                                position: relative;
                                top: 5px;
                                left: 5px;
                                height: 30px;
                                width: 30px;
                                cursor: pointer;
                            }
                        }
    
                        .zoom-plus {
                            position: absolute;
                            bottom: 51px;
                            right: 50px;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#000000, 0.4);
        
                            .icon {
                                position: relative;
                                
                                cursor: pointer;
                            }
                        }
        
                        .zoom-minus {
                            position: absolute;
                            bottom: 10px;
                            right: 50px;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#000000, 0.4);
        
                            .icon {
                                position: relative;
                                
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .image-caption {

                p {
                    @extend .small;
                    margin-top: 20px;
                    text-align: left;
                    overflow: hidden;
                }
            }

            .video-container {
                position: relative;
                width: 100%;
                background-color: $black;

                #video {
                    width: 100%;
                }

                video::-webkit-media-controls {
                    display: none !important;
                }

                #play-big {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 50px;
                    height: 50px;
                    transform: translateY(-50%) translateX(-50%);
                }
    
                #video-controls {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 60px;
                    background-color: transparent;

                    input[type="range"] {
                        height: 5px;
                        overflow: hidden;
                        background-color: $base-primary;
                        -webkit-appearance: none;
                    }

                    input[type='range']::-webkit-slider-runnable-track {
                        height: 5px;
                        color: $white;
                        -webkit-appearance: none;
                    }

                    input[type='range']::-webkit-slider-thumb {
                        width: 5px;
                        height: 5px;
                        background: $white;
                        box-shadow: -9000px 0 0 9000px $white;
                        -webkit-appearance: none;
                    }

                    input[type="range"]::-moz-range-progress {
                        background-color: $white; 
                    }

                    input[type="range"]::-moz-range-track {  
                        background-color: $base-primary;
                    }

                    input[type="range"]::-ms-fill-lower {
                        background-color: $white; 
                    }

                    input[type="range"]::-ms-fill-upper {  
                        background-color: $base-primary;
                    }

                    #video-seek-bar {
                        position: absolute;
                        left: 2%;
                        width: 96%;
                    }

                    #video-play-small {
                        display: inline-block;
                        position: absolute;
                        left: 15px;
                        bottom: 5px;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                    }

                    #video-time-passed {
                        display: inline-block;
                        position: absolute;
                        left: 65px;
                        bottom: 5px;
                        line-height: 40px;
                        color: $white;
                    }

                    #full-screen {
                        display: inline-block;
                        position: absolute;
                        right: 15px;
                        bottom: 5px;
                    }
                }
            }

            .video-caption {

                p {
                    @extend .small;
                    margin-top: 20px;
                    text-align: left;
                    overflow: hidden;
                }
            }

            .audio-container {
                position: relative;
                width: 100%;
                height: 104px;

                #audio {
                    width: 100%;
                }

                audio::-webkit-media-controls {
                    display: none !important;
                }
    
                #audio-controls {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 104px;
                    background-color: $black;
                    border: 1px solid $base-primary-border;

                    .audio-name {
                        position: absolute;
                        top: 17px;
                        left: 25px;
                        color: $white;
                    }

                    input[type="range"] {
                        height: 5px;
                        overflow: hidden;
                        background-color: $base-primary;
                        -webkit-appearance: none;
                    }

                    input[type='range']::-webkit-slider-runnable-track {
                        -webkit-appearance: none;
                        height: 5px;
                        color: $white;
                    }

                    input[type='range']::-webkit-slider-thumb {
                        width: 5px;
                        height: 5px;
                        background: $white;
                        box-shadow: -9000px 0 0 9000px $white;
                        -webkit-appearance: none;
                    }

                    input[type="range"]::-moz-range-progress {
                        background-color: $white; 
                    }

                    input[type="range"]::-moz-range-track {  
                        background-color: $base-primary;
                    }

                    input[type="range"]::-ms-fill-lower {
                        background-color: $white; 
                    }

                    input[type="range"]::-ms-fill-upper {  
                        background-color: $base-primary;
                    }

                    #audio-seek-bar {
                        position: absolute;
                        top: 50px;
                        left: 2%;
                        width: 96%;
                    }

                    #audio-play-small {
                        display: inline-block;
                        position: absolute;
                        left: 15px;
                        bottom: 5px;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                    }

                    #audio-time-passed {
                        display: inline-block;
                        position: absolute;
                        left: 65px;
                        bottom: 5px;
                        line-height: 40px;
                        color: $white;
                    }
                }
            }

            .audio-caption {

                p {
                    @extend .small;
                    margin-top: 20px;
                    text-align: left;
                    overflow: hidden;
                }
            }

            .download-link-component{
                display: inline-block;
                a{
                    color: $base-primary;
                    font-family: 'Apercu';
                    font-weight:300;

                    span, svg{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

}

.upload-files-container {
    width: 50%;
    margin-left: 50px;
    background-color: inherit;

    .upload-files-header {
        height: 40px;
        margin-left: 50px;
    }

    .upload-files-main {
        height: 140px;
        background-color: $base-uicolor-4;
        border: 1px solid $base-primary-border;
        
        .left {
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 138px;
            line-height: 138px;
            font-size: 12px;
            text-align: center;

            &:hover {
                outline: 2px dashed $base-primary-border;
            }
        }

        .right {
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            height: 138px;
            line-height: 138px;
            font-size: 12px;
            text-align: center;

            input {
                display: none;
            }

            label {
                display: inline-block;
                height: 20px;
                cursor: pointer;
            }
        }
        
        .center {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            width: 10%;
            height: 140px;
            line-height: 140px;
            font-size: 12px;
            text-align: center;
            
            &:before {
                content: '';
                position: absolute;
                top: -6px;
                right: 49%;
                height: 148px;
                border: 1px solid $white;
                transform: rotate(24deg);
            }
        }
    }
}