.topic-container {
    position: relative;
    min-height: 100vh;
    width: 100%;

    .topic-header {
        margin-top: 40px;

        .topic-title {
            margin-bottom: 80px;
        }
    }

    .topics {
        position: absolute;
        bottom: 0;
        width: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    
            .image {
                height: 100px;
            }

            .button-wrapper {
                display: none;
                position: absolute;
                bottom: 30px;
                left: 0;
                width: 100%;
                padding: 0 20px;
                transition: all 0.3s;
                overflow: hidden;
            }
    }
}
