.video-container {
  position: relative;
  width: 100%;

  video {
      width: 100%;
  }
}

.video-caption {

  p {
      @extend .small;
      margin-top: 20px;
      text-align: left;
      overflow: hidden;
  }
}