.go-left{
  float: left;
}
.go-right{
  float: right;
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.no-display {
  display: none;
}
.text-darker {
  color: $text-darker;
  &:hover {
    color: #675D53;
  }
}
.opacity {
  opacity: 0.1;
}
.full-width {
  width: 100%;
}
.centered {
  text-align: center;
}
.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-100 {
  margin-bottom: 100px;
}
.pt-40 {
  padding-top: 40px;
}
.p-lr-75 {
  padding: 0 75px;
}
.border-top {
  border-top: 1px solid $base-uicolor-2;
}
.clear-float:after{
  content: '';
  display: block;
  clear: both;
}

// Floatings
.floating-no {
  width: 380px;
  height: 140px;
  background-color: $white;
  border: 1px solid rgba( 71, 75, 89, 0.20);
}
.floating-10 {
  @extend .floating-no;
  border: 1px solid $base-primary;
  box-shadow: 0 5px 10px 0 rgba( 71, 75, 89, 0.50)
}

//UI Materials
.line-bottom {
  background: $white;
  box-shadow: inset 0 -1px 0 0 $black;
  &-error {
    box-shadow: inset 0 -2px 0 0 $base-accent;
  }
}
.line-top {
  background: $white;
  box-shadow: inset 0 1px 0 0 $black;
  &-purple {
    box-shadow: inset 0 2px 0 0 #8420FF;
  }
  &-soft {
    box-shadow: inset 0 1px 0 0 #EAEDF0;
  }
}
.hover-soft-bg {
  background-color: #EAEDF0;
  box-shadow: inset 0 1px 0 0 #EAEDF0;
}
.no-overlap {
  margin-bottom: 40px;
}
