$elements-space: 90px;
$border: 1px solid #ddd;

.page-container{
  width: 100%;
  min-height: 100vh;
  padding-top: $elements-space;
  padding-right: $elements-space;
  transition: all 0.3s;
  
  &.halved {
    width: calc(50% - 45px);
    padding-right: 0;
  }

  .login-container {
    width: 100%;
    float: left;
    margin-bottom: 5px;
  }
}

// Main container - login/create account
.wrapper-container {

  .page-title {
    font-weight: inherit;
  }

  .lead {
    @extend .lead;
  }

  p {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.2px;
  }

  .choose-account {
    width: 48%;
    display: inline-block;
    cursor: pointer;
  }

  .middle-arrow {
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 2px;
    width: 4%;
    height: 20px;
    border-right: $border;
    
    transform: rotate(30deg);
  }

  .login-error-message {
    margin: 10px 0;
    color: $base-accent;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.2px;

    p {
      margin: 10px 0;
    }
  }
}

.back-to-login {
  position: relative;
  top: 10px;
  cursor: pointer;
}

.rotated-text-login-page {
  top: 40px;
  transform: rotate(90deg);
  & .item {
    @extend .h6;
    display: inline;
    margin-right: 30px;
  }
}

.origin-background {
  float: left;
  height: 40vh;
  width: 100vw;
  background: url('assets/images/Login_Map.jpg') center bottom no-repeat;
  

  .login-page-bottom-icons {
    position: absolute;
    bottom: 50px;
    height: 66px;

    .footer-logo{
      float: left;
      width: 50%;

      .logo {
        float: left;
        padding-right: 10px;
        height: 66px;
        width: 192px;
        background: url('assets/images/University_Logo.png') center;
      }
    }

    .footer-menu-right {
      width: 50%;
      float: right;
      line-height: 66px;

      .item {
        float: right;
        padding-left: 20px;
      }
    }
  }
}