$elements-space: 90px;
$border: 1px solid #ddd;

.page-container{
  width: 100%;
  height: 100vh;
  padding-top: $elements-space;
  padding-right: $elements-space;
  overflow: scroll;
  transition: all 0.3s;
  
  &.halved {
    width: calc(50% - 90px);
    padding-right: 0;
  }
}

// Main container - login/create account
.main-container {
  height: 70vh;
  overflow: scroll;
  z-index: 1;

  .page-title {
    font-weight: inherit;
  }

  .lead-text {
    @extend .lead;
    margin-bottom: 55px;
    margin-top: 30px;
  }

  .choose-account {
    width: 50%;
    display: inline-block;
    cursor: pointer;
  }
}

.back-to-login {
  position: relative;
  top: 30px;
}

.rotated-text-login-page {
  top: 90px;
  transform: rotate(90deg);
  z-index: 1;
  & .item {
    display: inline;
    margin-right: 30px;
  }
}

.origin-background {
  @extend .col-xs-12;
  background-color: $background-hover;
  height: 70%;
  position: absolute;
  bottom: 0;

  .login-page-bottom-icons {
    position: absolute;
    bottom: 50px;
    height: 50px;
  }
}