html, body, div, section, header, footer,
p, a, span, h1, h2, h3, h4, h5, h6,
input, textarea, button,
ul, ol, li,
img{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus{
  outline: none;
}