body, input, textarea, label, .genderLabel {
  font-family: 'Libre Baskerville', serif;
}

.font {
  font-family: 'Apercu';
  font-weight: normal;
}

.h1 {
  @include font-size($h1);
}
.h2 {
  @include font-size($h2);
}
.h3 {
  @include font-size($h3);
}
.h4 {
  @include font-size($h4);
}
.h5 {
  @include font-size($h5);
}
.h6 {
  @include font-size($h6);
  @extend .font;
}
.lead {
  @include font-size($lead);
  @extend .font;
}
.p {
  @include font-size($p);
  @extend .font;
}
.small{ 
  @include font-size($small);
  @extend .font;
  color: $base-primary;
}
.link {
  @include font-size($link);
  @extend .font;
  color: $base-secondary;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.button {
  @include font-size($button);
  @extend .font;
  &-inverted {
    background-color: #D8D8D8;
    border: 1px solid $base-primary-border;
  }
}
.label {
  @extend .font;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.4ch;
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }
p { @extend .p; }
small { @extend .small; }
link { @extend .link; }
button { @extend .button; }