body, input, textarea, label, .genderLabel {
  font-family: 'Libre Baskerville', serif;
}

.h1 {
  @include font-size($h1);
}
.h2 {
  @include font-size($h2);
}
.h3 {
  @include font-size($h3);
}
.h4 {
  @include font-size($h4);
}
.h5 {
  @include font-size($h5);
}
.h6 {
  @include font-size($h6);
}
.lead {
  @include font-size($lead);
}
.p {
  @include font-size($p);
}
.small{ 
  @include font-size($small);
  color: $base-primary;
}
.link {
  @include font-size($link);
  color: $base-secondary;
  &:hover {
    text-decoration: underline;
  }
}
.button {
  @include font-size($p);
  &-inverted {
    background-color: #D8D8D8;
    border: 1px solid $base-primary-border;
  }
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }
p { @extend .p; }
small { @extend .small ; }
link { @extend .link; }
button { @extend .button; }