//Font
$font: Helvetica;

// Colors
$black: #000000;
$white: #FFFFFF;

$base-primary: #8C8B89;
$base-primary-border: #979797;
$base-primary-hover: #737270;
$base-primary-hover-border: $base-primary-border;

$base-secondary: #16365E;
$base-secondary-border: $base-primary-border;
$base-secondary-hover: #0F2847;

$base-accent: #EE1245;
$base-accent-hover: #D4113E;

$base-ghost: $white;
$base-ghost-border: 1px solid #EAEDF0;

$base-uicolor-1: $base-primary;

$base-uicolor-2: #E6E3E1;

$base-uicolor-3: #F2F4F6;
$base-uicolor-3-border: 1px solid $base-primary-border;

// Breakpoints
// very large desktop
$bp-lg: 78rem;
// desktop
$bp-md: 64rem;
// tablet
$bp-sm: 37rem;

$breakpoints:(
    (name: large-desktop, size: $bp-lg),
    (name: desktop, size: $bp-md),
    (name: tablet, size: $bp-sm) 
);


// Layout
$max-width: 940px;
$max-width-inner: 620px;

$column-gap: 20px;
$outer-gap: 15px;

$outer-width: $max-width + $outer-gap*2;
$inner-width: $max-width-inner + $outer-gap*2;

$title-font-size: 48px;

//Icons
$icon-height: 40px;
$icon-width: $icon-height;

//Inputs
$input-base-height: 50px;
$input-base-width: 100%;

//Buttons
$button-height: 50px;
$button-width: 100%;