.mail-container {
  position: absolute;
  top: $elements-space;
  left: 110%;
  width: 100%;
  padding-right: 90px;
  background: white;
  z-index: 10;
  transform: translateX(-90px);
  transition: all 0.5s;

  &.in {
    left: 0%;
    transform: translateX(0px);
  }

  .mail-container-body {
    min-height: calc(100vh - 90px);

    .empty-mailbox {
      line-height: 80vh;
      background-color: $white;
      text-align: center;
    }
  }
}

// Mail list container (left)
.inbox-mail-list-container {
  height: calc(100vh - 90px);
  padding-right: 0;
  padding-left: 20px;
  overflow-y: scroll;

  &-li {
    height: 120px;
    box-shadow: inset 0 -1px 0 0 $base-uicolor-2;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
      background-color: $base-uicolor-3;

      p {
        color: rgba(22, 54, 94, 0.4);
      }
    }

    &.selected {
      background-color: $base-uicolor-3;
      
      p{
        color: rgba(22, 54, 94, 0.4);
      }
    }

    .header {
      display: table;
      width: 100%;

      .mail-unread-dot {
        display: table-cell;
        padding-left: 10px;

        .dot {
          width: 14px;
          height: 14px;
          margin-right: -10px;
          background-color: $base-accent;
          border-radius: 50%;
        }
      }
  
      h6 {
        display: table-cell;
        padding-top: 30px;
        padding-left: 10px;
        font-weight: normal;
      }
  
      .current-date-time {
        display: table-cell;
        vertical-align: bottom;
        padding-right: 20px;
        text-align: right;
      }
    }

    .short-mail {
      max-height: 20px;
      padding: 0 100px 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .subject {
        display: inline;
      }

      .text {
        display: inline;

        p {
          @extend .small;
          display: inline;
        }
      }
    }
  }
}

// Mail body container (right)
.inbox-mail-body-container {
  height: calc(100vh - 90px);
  border-left: $base-ghost-border;
  overflow-y: scroll;

  .no-mails {
    line-height: 100vh;
    text-align: center;
    background-color: $white;
  }

  .sender {
    display: table;
    width: 75%;
    margin-left: 12.5%;
    padding-top: 60px;

    h5 {
      display: table-cell;
      vertical-align: middle;
      width: 70%;
      font-weight: normal;
    }

    .respond-button {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
      border: $base-ghost-border;

      &:hover {
        background-color: $base-uicolor-3;
      }
    }

    .send-mail-button {
      z-index: 1;
    }
  }

  .subject {
    width: 75%;
    margin-top: 1rem;
    margin-left: 12.5%;
    padding-bottom: 25px;
    border-bottom: $border;

    .title {
      display: inline-block;
    }

    .current-date-time {
      float: right;
      line-height: 30px;
    }
  }

  .reply-list-container {
    width: 75%;
    margin-top: 25px;
    margin-left: 12.5%;
  }

  .message {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 25px;
    margin-bottom: 50px;
    
    &-inactive {
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 30px 0 0 20px;
      float: left;
      color: $base-secondary;
      border-left: 2px solid #3380DE;
    }

    &-reply {
      width: 75%;
      margin-top: 20px;
      padding: 30px 0 0 20px;
      color: $base-secondary;
      border-left: 2px solid $base-accent;
    }

    &-textarea {
      width: 75%;
      margin-left: 12.5%;
      margin-top: 50px;
      margin-bottom: 50px;
      resize: none;
      overflow-y: hidden;
    }

    p {

      a {
        @extend .link;
      }
    }
  }

  .respondMail {
    display: block;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 10px;
    margin-bottom: 100px;
    border: $base-ghost-border;

    &:hover {
      background-color: $base-uicolor-3;
    }
  }
  
  .send-mail-text-to {
    position: absolute;
    left: 0;
    width: 12.5%;
    padding-right: 10px;
    padding-top: 15px;
    text-align: right;
    overflow: hidden;
  }

  .send-mail-text-subject {
    position: absolute;
    left: 0;
    width: 12.5%;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    overflow: hidden;
  }
}