.mail-container{
  position: absolute;
  top: $elements-space;
  left: 110%;
  width: calc(100% - 90px);
  background: white;
  z-index: 50;
  transform: translateX(-90px);

  &.in{
    left: 0%;
    transform: translateX(0px);
    z-index: 50;
  }

  transition: all 0.3s;

  .mail-container-body{
    min-height: calc(100vh - 90px);

    .empty-mailbox {
      @extend .h1;
      line-height: calc(100vh - 90px);
      text-align: center;
      background-color: $background-hover;
    }
  }
}

// Mail list container (left)
.inbox-mail-list-container{
  @extend .col-xs-4;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  &-li {
    cursor: pointer;
    padding: 10px 0;
    box-shadow: inset 0 -1px 0 0 $base-uicolor-2;
    &:hover {
      background-color: rgba(22, 54, 94, 0.06);
      p{
        color: rgba(22, 54, 94, 0.4);
      }
    }
    &.selected {
      background-color: rgba(22, 54, 94, 0.06);
      p{
        color: rgba(22, 54, 94, 0.4);
      }
    }

    .mail-unread-dot {
      @extend .col-xs-1;

      .dot {
        position: absolute;
        top: 14px;
        left: 14px;
        width: 14px;
        height: 14px;
        background-color: $base-accent;
        border-radius: 50%;
      }
    }

    h6 {
      @extend .col-xs-7;
      @extend .h6;
      padding-top: 10px;
    }

    .short-mail {
      width: 70%;
      max-height: 50px;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      p {
        @extend .small;
      }
    }
  }
}

// Mail body container (right)
.inbox-mail-body-container{
  @extend .col-xs-8;
  height: calc(100vh - 90px);
  border-left: $base-ghost-border;
  overflow-y: scroll;

  .no-mails {
    @extend .h1;
    line-height: 100vh;
    text-align: center;
    background-color: $background-hover;
  }

  .sender {
    @extend .col-xs-10;
    @extend .col-xs-offset-1;
    display: table;
    padding: 0;
    padding-top: 50px;

    h5 {
      display: table-cell;
      vertical-align: middle;
    }

    button {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
      border: $base-ghost-border;
    }

    .send-mail-button {
      z-index: 1;
    }
  }

  .subject {
    @extend .col-xs-10;
    @extend .col-xs-offset-1;
    @extend .lead;
    margin-top: 1rem;
    padding: 0;
    padding-bottom: 25px;
    border-bottom: $border;
  }

  .reply-list-container {
    @extend .col-xs-10;
    @extend .col-xs-offset-1;
    margin-top: 25px;
    padding: 0;
  }

  .message {
    @extend .col-xs-10;
    @extend .col-xs-offset-1;
    @extend .p;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0;
    
    &-inactive {
      @extend .col-xs-10;
      @extend .col-xs-offset-1;
      @extend .p;
      color: $base-secondary;
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 30px 0 0 20px;
      float: left;
      border-left: 2px solid #3380DE;
    }
    &-reply {
      @extend .p;
      color: $base-secondary;
      margin-top: 20px;
      padding: 30px 0 0 20px;
      border-left: 2px solid $base-accent;
    }
    &-textarea {
      @extend .col-xs-10;
      @extend .col-xs-offset-1;
      @extend .p;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 0;
      resize: none;
    }
    p {
      a {
        @extend .link;
      }
    }
  }

  .respondMail {
    @extend .col-xs-10;
    @extend .col-xs-offset-1;
    display: block;
    margin-top: 10px;
    margin-bottom: 100px;
    border: $base-ghost-border;
  }
  
  .send-mail-text-to {
    @extend .col-xs-1;
    @extend .small;
    position: absolute;
    left: -8.33%;
    padding-right: 5px;
    padding-top: 15px;
    text-align: right;
    overflow: hidden;
  }

  .send-mail-text-subject {
    @extend .col-xs-1;
    @extend .small;
    position: absolute;
    left: -8.33%;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    overflow: hidden;
  }
}