$chapterHeight: 80px;

.notebook-container{
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 2;
    overflow: scroll;
    width: 50%;
    height: 100vh;
    transition: all 0.3s;

    &.in{
        right: 90px;
        width: calc(50% - 45px);
        padding-right: 0;
    }

    &.open-entries-menu{
        padding-top:  calc(100vh - 180px);
    }

    .empty-notebook {
        @extend .h2;
        vertical-align: middle;
        line-height: 100vh;
        overflow: hidden;
        height: 100%;
        text-align: center;
        border-left: $border;
        background-color: $background-hover;
    }
}

// Notebook entries list
.notebook-list {
    position: fixed;
    top: 0;
    width: calc(50% - 45px);
    height: calc(100vh - 180px);
    background-color: #0C0C0D;
    padding-top: 100px;
    overflow: scroll;
    z-index: 1;

    &-item {
        @extend .h5;
        padding: 0 50px;
        color: $white;
        list-style: none;
        position: relative;
        cursor: pointer;
        &-current {
            border-bottom: 1px solid white;
        }
        &-line {
            height: 32px;
            opacity: 0.3;
            &:before {
                content: '';
                border-left: 2px solid white;
                position: relative;
                left: 3px;
            }
        }
        &-arrow {
            height: 0px;
            width: 0px;
            opacity: 0.3;
            border-top: 5px solid white;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: relative;
            right: 1px;
            top: -3px;
        }
        &-index {
            font-size: $base-size;
            opacity: 0.3;
        }

        .notebook-list-title {
            display: inline-block;
            margin-left: 20px;
            overflow: hidden;
            p {
                @extend .h5;
            }
        }
    }
}

// Chapter menu
.notebook-chapter-menu {
    position: relative;
    z-index: 1;
    width: 100%;
    height: $chapterHeight;
    padding-top: 5px;
    background-color: #0C0C0D;

    transition: all 0.3s;
    .chapter-menu-icon {
        display: inline-block;
        width: 20%;
        text-align: center;
        padding-top: 28px;
        
        .svg-icon {
            cursor: pointer;
        }
    }
}

// Notebook pages
.notebook-content {
    // Height is set using JS as it is dinamic
    position: relative;
    z-index: 10;
    background-color: #000;
    height: calc(100vh + 20px);
    overflow-x: hidden;

    .pageDisplay{
        display: none;

        .notebook-page-image {
            height: auto;
            margin-bottom: 20px;
            position: relative;
            .image-sticker {
                position: absolute;
                top: -10px;
                left: calc(50% - 50px);
                height: 30px;
                width: 100px;
                background-color: $white;
                opacity: 0.6;
                z-index: 1;
            }
            img {
                width: 100%;
                transform: rotate(-3deg);
                border: 5px solid $white;
            }
            .image-caption {
                margin-bottom: 20px;
                p {
                    @extend .small;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }

        .notebook-page-text {
            @extend .mb-40;
            color: #2F3133;
            p {
                font-size: 17px;
                line-height: 26px;
                letter-spacing: 0.2px;
            }
        }
    }
    .notebook-header {
        @extend .mb-40;
        width: 100%;
        background-color: $background-hover;
        height: 90px;
        line-height: 90px;
        padding: 0 50px;
        border-bottom: 1px solid $base-uicolor-2;
        border-top: 1px solid $base-uicolor-2;
        .title{
            width: 90%;
            display: inline-block;
            p {
                @extend .h5;
            }
        }
        &-icon {
            width: 10%;
            display: inline-block;
            cursor: pointer;
        }
    }

    .np-back, .np-middle, .np-front {
        // Height is set using JS as it is dinamic
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #F2F0EE;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: all 0.3s;
    }
    .np-back{
        z-index: 1;
        transform: scale(0.9, 1.02);
    }
    .np-middle{
        z-index: 2;
        transform: scale(0.95, 1.01);
        box-shadow: 0 0 15px #000;
    }
    .np-front{
        z-index: 3;
        transform: scale(1, 1);
        box-shadow: 0 0 15px #000;
    }

    // Next animation classes
    .np-front.next-out{
        left: 101%;
    }
    .np-middle.next-in{
        transform: scale(1,1);
    }
    .np-back.next-in{
        transform: scale(0.95, 1.01);
    }
    .np-front.next-out.scale-back{
        z-index: 1;
        transform: scale(0.9, 1.02);
    }

    // Prev animation classes
    .np-back.prev-out{
        left: 101%;
    }
    .np-front.prev-back{
        transform: scale(0.95, 1.01);
    }
    .np-middle.prev-back{
        transform: scale(0.9, 1.02);
    }
    .np-back.prev-out.scale-in{
        transform: scale(1, 1);
    }
}

// Personal notes boxes
.added-personal-notes-box{
    position: relative;
    z-index: 9;
    top: 0;
    height: 96px;
    width: 100%;
    border-left: 2px solid #2F3133;

    & textarea{
        display: block;
        width: 100%;
        height: 100%;
        resize: none;
        padding: 0 10px;

        font-family: 'Kalam Light';
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.08px;

        background-color: $background-hover;
    }
}

.personal-note-box{
    position: relative;
    z-index: 9;
    top: 40px;
    right: -150%;
    margin-bottom: 90px;
    height: 96px;
    width: 100%;
    transition: all 0.3s;

    &.opened{
        right: 0;

        & textarea{
            display: none;
            width: 100%;
            height: 100%;
            resize: none;
            padding: 0 10px;
            font-family: 'Kalam Light';
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.2px;
    
            background-image: -moz-linear-gradient(top , transparent, transparent 31px,#E7EFF8 0px);
            background-image: -webkit-linear-gradient(top , transparent, transparent 31px,#E7EFF8 0px);
            -webkit-background-size: 100% 32px;
            background-size: 100% 32px;
    
            &.active {
                display: block;
            }
        }
    }

    .autosave-confirm {
        line-height: 35px;
        height: 35px;
    }

    .enter-to-submit {
        width: 100%;
        text-align: right;
    }

    button {
        width: 30%;
        padding: 0 10px;
        background-color: $base-uicolor-2;
        position: absolute;
        right: 0;
        &.cancel {
            left: 0;
        }
    }
}

//Add personal notes button
.button-personal-note {
    display: block;
    position: relative;
    margin-top: 40px;
    box-shadow: none;

    &.inactive {
        display: none;
    }
}