$chapterHeight: 80px;

.notebook-container{
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 50;
    overflow: scroll;
    width: 50%;
    height: 100vh;
    transition: all 0.3s;

    &.in{
        right: 45px;
        width: 50%;
        padding-right: 45px;
        z-index: 50;
    }

    &.open-entries-menu{
        padding-top:  calc(100vh - 180px);
    }

    .empty-notebook {
        @extend .h2;
        vertical-align: middle;
        line-height: 100vh;
        overflow: hidden;
        height: 100%;
        text-align: center;
        border-left: $border;
        background-color: $base-ghost;
    }
}

// Notebook entries list
.notebook-list {
    position: fixed;
    top: 0;
    width: calc(50% - 45px);
    height: calc(100vh - 180px);
    background-color: #0C0C0D;
    padding: 100px;
    overflow: scroll;
    z-index: 1;

    .item {
        @extend .h5;
        display: table;
        width: 100%;
        height: 72px;
        color: $white;
        list-style: none;
        cursor: pointer;

        .left {
            display: table-cell;
            width: 10%;

            .arrow {
                position: relative;
                left: 5px;
                top: 5px;
                height: 32px;
                background: url('assets/images/notebook-list-arrow.png') no-repeat;
                opacity: 0.3;

                &.inactive {
                    visibility: hidden;
                }
            }

            .index {
                display: table-cell;
                vertical-align: bottom;
                height: 40px;
                font-size: $base-size;
                opacity: 0.3;
            }
        }

        .right {
            display: table-cell;
            width: 90%;
            vertical-align: bottom;
            position: relative;

            .current {
                position: absolute;
                left: -12px;
                bottom: -32px;
                height: 72px;
                width: 100%;
                background: url('assets/images/notebook-list-selected.png') no-repeat;
            }

            .title {
                width: 100%;
                overflow: hidden;
                text-overflow: clip;
                p {
                    @extend .h5;
                }
            }
        }
    }
}

// Chapter menu
.notebook-chapter-menu {
    position: relative;
    z-index: 1;
    width: 100%;
    height: $chapterHeight;
    padding-top: 5px;
    background-color: #0C0C0D;

    transition: all 0.3s;
    .chapter-menu-icon {
        display: inline-block;
        width: 20%;
        text-align: center;
        padding-top: 28px;
        
        .svg-icon {
            cursor: pointer;
        }
    }
}

// Notebook pages
.notebook-content {
    // Height is set using JS as it is dinamic
    position: relative;
    z-index: 10;
    background-color: #000;
    height: calc(100vh + 20px);
    overflow-x: hidden;

    .pageDisplay{
        display: none;

        .notebook-page-image {
            height: auto;
            margin-bottom: 20px;
            position: relative;
            .image-sticker {
                position: absolute;
                top: -60px;
                left: calc(50% - 22px);
                height: 125px;
                width: 44px;
                background-color: $white;
                z-index: 1;
                background: url('assets/images/sticker.png');
                transform: rotate(-90deg);
            }
            img {
                width: 100%;
                transform: rotate(-3deg);
                border: 5px solid $white;
            }
            .image-caption {
                margin: 20px 0;
                p {
                    @extend .small;
                    font-family: inherit;
                    text-align: center;
                    margin-top: 10px;
                    overflow: hidden;
                }
            }
        }

        .notebook-page-text {
            @extend .mb-40;
            color: #2F3133;
            p {
                font-size: 17px;
                line-height: 26px;
                letter-spacing: 0.2px;
            }
        }
    }

    .notebook-header {
        display: table;
        height: 90px;
        margin-bottom: 40px;
        padding: 0;
        background-color: $base-ghost;
        border-bottom: 1px solid $base-uicolor-2;
        .title{
            width: 90%;
            display: table-cell;
            vertical-align: middle;
            p {
                @extend .h5;
                font-family: inherit;
            }
        }
        & .icon {
            width: 10%;
            display: table-cell;
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .np-back, .np-middle, .np-front {
        // Height is set using JS as it is dinamic
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #F2F0EE;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: all 0.3s;
    }
    .np-back{
        z-index: 1;
        transform: scale(0.9, 1.02);
    }
    .np-middle{
        z-index: 2;
        transform: scale(0.95, 1.01);
        box-shadow: 0 0 15px #000;
    }
    .np-front{
        z-index: 3;
        transform: scale(1, 1);
        box-shadow: 0 0 15px #000;
    }

    // Next animation classes
    .np-front.next-out{
        left: 101%;
    }
    .np-middle.next-in{
        transform: scale(1,1);
    }
    .np-back.next-in{
        transform: scale(0.95, 1.01);
    }
    .np-front.next-out.scale-back{
        z-index: 1;
        transform: scale(0.9, 1.02);
    }

    // Prev animation classes
    .np-back.prev-out{
        left: 101%;
    }
    .np-front.prev-back{
        transform: scale(0.95, 1.01);
    }
    .np-middle.prev-back{
        transform: scale(0.9, 1.02);
    }
    .np-back.prev-out.scale-in{
        transform: scale(1, 1);
    }
}

// Personal notes boxes
.added-personal-notes-box{
    position: relative;
    z-index: 9;
    top: 0;
    width: 100%;
    border-left: 2px solid #2F3133;

    p {
        padding: 0 10px;
    }

    & textarea{
        display: block;
        width: 100%;
        height: 100%;
        resize: none;
        padding: 0 10px;

        font-family: 'Kalam Light';
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.08px;

        background-color: $base-ghost;
    }
}

.personal-note-box{
    position: relative;
    z-index: 9;
    top: 40px;
    right: -150%;
    margin-bottom: 90px;
    height: 96px;
    width: 100%;
    transition: all 0.3s;

    p {
        padding: 0 10px;
    }

    &.opened{
        right: 0;

        & textarea{
            display: none;
            width: 100%;
            height: 100%;
            resize: none;
            padding: 0 10px;
            font-family: 'Kalam Light';
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.2px;
    
            background-image: -moz-linear-gradient(top , transparent, transparent 31px,#E7EFF8 0px);
            background-image: -webkit-linear-gradient(top , transparent, transparent 31px,#E7EFF8 0px);
            -webkit-background-size: 100% 32px;
            background-size: 100% 32px;
    
            &.active {
                display: block;
            }
        }
    }

    .typing {
        font-family: 'Apercu';
        line-height: 35px;
        height: 35px;
    }

    .enter-to-submit {
        font-family: 'Apercu';
        line-height: 35px;
        height: 35px;
        width: 100%;
        text-align: right;
    }

    button {
        width: 30%;
        padding: 0 10px;
        background-color: $base-uicolor-2;
        position: absolute;
        right: 0;
        &.cancel {
            left: 0;
        }
    }
}

//Add personal notes button
.button-personal-note {
    display: block;
    position: relative;
    margin-top: 40px;
    box-shadow: none;

    &.inactive {
        display: none;
    }
}