$chapterHeight: 80px;

.notebook-container {
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    z-index: 10;
    overflow: scroll;
    transition: all 0.3s;

    &.in {
        right: 90px;
        padding-left: 45px;
    }

    &.open-entries-menu {
        padding-top: calc(100vh - 180px);
    }

    .empty-notebook {
        height: 100%;
        text-align: center;
        background: linear-gradient(-90deg, rgba(230,227,225,1) 0%, rgba(230,227,225,1) 80%, rgba(236,234,232,1) 100%);
        line-height: 1;
        background-color: $base-uicolor-2;
        text-align: center;
        overflow: hidden;
        padding: 0 40px;

        span{
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.svg-border{
    width: 1px;
    height: 100%;
    position: fixed;
    right: 89px;
    top: 0;
    overflow: hidden;
    z-index: 999;
    path{
        stroke-dasharray: 8;
        stroke: #b8b8b8;
    }
}

// Notebook entries list
.notebook-list {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    padding: 65px 135px 180px 90px;
    background-color: #0C0C0D;
    // overflow: hidden;
    z-index: 1;

    .scroll-mask{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    ul{
        position: relative;
        width: 104%;
        height: 100%;
        padding-right: 12px;
        overflow: scroll;
    }

    .item {
        display: block;
        width: 100%;
        height: 72px;
        color: $white;
        list-style: none;
        cursor: pointer;

        .left {
            display: table-cell;
            width: 10%;

            .arrow {
                position: relative;
                left: 5px;
                top: 5px;
                height: 32px;
                background: url('assets/images/notebook-list-arrow.png') no-repeat;
                opacity: 0.3;

                &.inactive {
                    visibility: hidden;
                }
            }

            .index {
                display: table-cell;
                vertical-align: bottom;
                height: 40px;
                font-size: $base-size;
                opacity: 0.3;
            }
        }

        .right {
            display: table-cell;
            vertical-align: bottom;
            width: 90%;
            position: relative;

            .current {
                position: absolute;
                left: -12px;
                bottom: -32px;
                height: 72px;
                width: 100%;
                background: url('assets/images/notebook-list-selected.png') no-repeat;
            }

            .title {
                width: 100%;
                overflow: hidden;
                text-overflow: clip;

                p {
                    @extend .h5;
                    font-family: $font;
                }
            }
        }
    }
}

.list-item:first-child{
    padding-top: 22px;

    svg{
        top:  22px;
    }
}
.list-item{
    position: relative;
    padding-left: 50px;
    margin-bottom: 40px;
    color: #fff;

    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
        width: 1px;
        height: 100%;
        border-right: 2px solid #7d7d7d;
        
    }

    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 15px;
        transform: translateY(100%);
        width: 1px;
        height: 40px;
        border-right: 2px solid #7d7d7d;
        
    }

    .arrow-shape{
        position: absolute;
        top: 50%;
        left: 13px;
        width: 6px;
        height: 6px;
        transform: translateY(-25px);
        

        &:before{
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-bottom: 2px solid #7d7d7d;
            border-left: 2px solid #7d7d7d;
            transform: rotate(-45deg);
        }
    }

    .order-number{
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        background: #000;
        font-size: $base-size;
        font-family: $font;
        color: #7d7d7d;
    }
    .title {
        display: inline-block;
        overflow: hidden;
        text-overflow: clip;
        cursor: pointer;

        p {
            display: inline;
            @extend .h5;
            font-family: $font;
        }
    }

    svg{
        position: absolute;
        top: 0;
        left: 50px;
        overflow: visible;
    }

    &:last-child{
        &:before{
            height: 50%;
        }
        &:after{
            display: none;
        }
    }
    &:first-child{
        &:before{
            bottom: 0;
            top: auto;
            height: 50%;
        }
        .arrow-shape{
            display: none;
        }
    }
    
}

// Chapter menu
.notebook-chapter-menu {
    display: none;
    position: relative;
    width: 100%;
    height: $chapterHeight;
    background-color: #0C0C0D;
    z-index: 1;

    &.displayed {
        display: block;
    }

    .chapter-menu-icon {
        display: inline-block;
        width: 20%;
        text-align: center;
        
        .svg-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            fill: $base-primary;
            cursor: pointer;

            &:hover {
                fill: $white;
            }
        }
    }
}



// Notebook pages
.notebook-content {
    position: relative;
    // height: calc(100vh + 20px);
    background-color: #000;
    overflow: visible;
    z-index: 10;

    .pageDisplay{
        min-height: 100vh;
        

        .notebook-header {
            display: table;
            height: 90px;
            margin-bottom: 40px;
            padding: 0;
            border-bottom: 1px solid $base-primary-hover;
    
            .title{
                display: table-cell;
                vertical-align: middle;
                width: 90%;
    
                p {
                    @extend .h5;
                    font-family: inherit;
                }
            }
            
            & .icon {
                width: 10%;
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;

                svg:hover{
                    fill: $base-primary-hover;
                }
            }
        }

        .section-title {
            display: inline-block;
            height: 30px;
            margin-bottom: 3px;
            font-family: $font-tertiary, cursive;
            font-weight: 300;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.08px;
            border-bottom: 2px solid $black;
        }

        .notebook-page-image {
            height: auto;
            position: relative;

            .image-sticker {
                position: absolute;
                top: -60px;
                left: 50%;
                height: 125px;
                width: 44px;
                background-color: $white;
                background: url('assets/images/sticker.png');
                z-index: 1;
                transform: rotate(-90deg) translateY(-22px);
            }

            img {
                width: 100%;
                transform: rotate(-3deg);
                border: 5px solid $white;
            }

            .image-caption {
                margin: 20px 0;

                p {
                    @extend .small;
                    margin-top: 10px;
                    text-align: left;
                    font-family: inherit;
                    overflow: hidden;
                }
            }
        }

        .notebook-page-text {
            color: #2F3133;
            
            p {
                font-size: 17px;
                line-height: 26px;
                letter-spacing: 0.2px;
            }
        }

        .notebook-page-text-exercise {
            color: #2F3133;

            .question {
                margin-top: 6px;
                display: block;
            }

            .text-sticker {
                display: none;
                position: absolute;
                top: -60px;
                left: 50%;
                height: 125px;
                width: 44px;
                background-color: $white;
                background: url('assets/images/sticker.png');
                z-index: 1;
                transform: rotate(-90deg) translateY(-22px);
            }
            
            p {
                font-size: 17px;
                line-height: 26px;
                letter-spacing: 0.2px;
            }
        }

        .paper-sheet-wrapper {
            position: relative;

            .paper-sheet {
                height: auto;
                margin-top: 20px;

                .sticker-wrapper {
                    position: absolute;
                    left: 50%;
                    top: -7px;
                    height: 125px;
                    width: 44px;
                    z-index: 1;
                    transform: rotate(-90deg) translateY(-36px);

                    .sticker {
                        height: 125px;
                        width: 44px;
                        background-color: $white;
                        background: url('assets/images/sticker.png');
                    }
                }

                .message-wrapper {
                    min-height: 200px;
                    padding: 20px;
                    background: url('assets/images/notebook-mail-response-background.png') center no-repeat;
                    background-size: cover;
                    font-family: $font-tertiary, cursive;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0.08px;
                    transform: rotate(-1deg);
                }
                
            }
        }

        .notebook-radio-field {
            // min-height: 130px;

            .question {
                margin-top: 6px;
                display: block;
            }

            .notebook-radio-field-item {
                float: left;
                position: relative;
                height: 66px;
                width: auto;
                min-width: 101px;
                margin-right: 20px;
                padding-top: 17px;
                font-family: $font-tertiary, cursive;
                font-weight: 300;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.08px;
                text-align: center;

                .correct {
                    position: absolute;
                    top: 7px;
                    left: 0;

                    svg {
                        width: 101px;
                        height: 48px;
                    }
                }

                .incorrect {
                    position: absolute;
                    top: 7px;
                    left: 0;

                    svg {
                        width: 101px;
                        height: 48px;
                    }
                }
            }
        }

        .notebook-checkbox-field {
            // min-height: 130px;

            .question {
                margin-top: 6px;
                display: block;
            }

            .notebook-checkbox-field-item {
                float: left;
                position: relative;
                height: 66px;
                width: auto;
                min-width: 101px;
                margin-right: 20px;
                padding-top: 17px;
                font-family: $font-tertiary, cursive;
                font-weight: 300;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.08px;
                text-align: center;

                .correct {
                    position: absolute;
                    top: 7px;
                    left: 0;

                    svg {
                        width: 101px;
                        height: 48px;
                    }
                }

                .incorrect {
                    position: absolute;
                    top: 7px;
                    left: 0;

                    svg {
                        width: 101px;
                        height: 48px;
                    }
                }
            }
        }

        .notebook-documents-upload {

            .question {
                margin-top: 6px;
                display: block;
            }     
            .document-type {
                width: 147px;
                height: 217px;
                margin-top: 17px;
                color: $base-primary;
                text-align: center;
                background: url('assets/images/fileUpload.png') center no-repeat;
                overflow: hidden;

                .doc-type-type{
                    width: 90%;
                    margin: 0 auto;
                    padding: 60px 0 45px;
                    border-bottom: 1px solid $base-primary-border;
                    text-transform: uppercase;
                    font-size: 20px;
                }
                .doc-type-name{
                    word-break: break-all;
                    padding: 20px;
                    font-size: 12px;
                    line-height: 14px;
                    font-family: $font-secondary, serif;
                }
            }
        }
    }
    .np-page{
        position: relative;
        background: linear-gradient(-90deg, rgba(230,227,225,1) 0%, rgba(230,227,225,1) 80%, rgba(236,234,232,1) 100%);
        
        .page-behind-one, .page-behind-two{
            content: '';
            display: block;
            position: absolute;
            height: 5px;
            background: linear-gradient(-90deg, rgba(230,227,225,1) 0%, rgba(230,227,225,1) 80%, rgba(236,234,232,1) 100%);
        }
        .page-behind-one{
            left: 0;
            bottom: -5px;
            width: 95%;
            opacity: 0.75;
            transform: translateX(2.5%);
        }
        .page-behind-two{
            left: 0;
            bottom: -10px;
            width: 90%;
            opacity: 0.5;
            transform: translateX(5%);
        }

    }
    &.no-offset-top {
        
        top: 0;
    }

}

// Personal notes boxes
.added-personal-notes-box{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    z-index: 9;
    top: 0;
    width: 100%;
    border-left: 2px solid #2F3133;

    p {
        padding: 0 10px;
    }

    div p{
        // This is for vue-markdown commponent
        font-family: 'Kalam', cursive;
        font-weight: 300;
    }

    textarea {
        width: 100%;
        height: 100%;
        resize: none;
        padding: 0 10px;
        font-family: $font-tertiary, cursive;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.08px;

        background-color: $base-uicolor-4;
    }
}

.personal-note-box{
    z-index: 9;
    display: none;
    transition: all 0.3s linear;
    overscroll-behavior: none;

    &.active {
        display: block;
    }

    .note {

        &.active {
            box-shadow: inset 2px 0 0 0 #2F3133;

            textarea {
                display: block;
                width: 100%;
                // height: 64px;
                resize: none;
                padding: 0 10px;
                font-family: $font-tertiary, cursive;
                font-weight: 300;
                font-size: 20px;
                line-height: 32px;
                overflow: hidden;
                letter-spacing: 0.2px;
                background-color: $base-uicolor-4;
                background-image: none;
                box-shadow: inset 2px 0 0 0 #2F3133;
            }
        }
    }

    p {
        padding: 0 10px;
    }

    textarea{
        display: block;
        width: 100%;
        // height: 64px;
        resize: none;
        padding: 0 10px;
        font-family: $font-tertiary, cursive;
        font-weight: 300;
        color: #2F3133;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.2px;
        overflow: hidden;
        background-image: -moz-linear-gradient(top , transparent, transparent 31px,$base-gradient-color 0px);
        background-image: -webkit-linear-gradient(top , transparent, transparent 31px,$base-gradient-color 0px);
        -webkit-background-size: 100% 32px;
        background-size: 100% 32px;

        transition: all 0.3s;
    }

    .typing {
        line-height: 35px;
        height: 35px;
    }

    .autosaved {
        float: right;
        line-height: 35px;
        height: 35px;
        text-align: right;
    }

    .icon {
        float: right;
        line-height: 35px;
        height: 35px;
        text-align: right;
    }
}

//Add personal notes button
.button-personal-note {
    box-shadow: none;
    margin-top: 0;
    transition: all 0.3s;

    &.active {
        margin-top: 75px;
    }
}