<div class="dialog-mask">
	<!-- <button class="dialog-close-button" @click="$emit('close')">
		Close Dialog
	</button> -->
	<div class="dialog-container">
		<div class="dialog-left">
			<img :src="source" alt="image" class="dialog-image" />
		</div>
		<div class="dialog-right">
			<vue-markdown :source="text" />
			<div class="dialog-buttons-div">
				<Btn 
				v-for="(option, index) in options"
				:key="index"
				:text="option.buttonText"
				@click.native="emitOption(option.id)"
				secondary="true"
				:class="options.length == 1 ? 'dialog-button-full' : 'dialog-button'"
				iconName="arrow-right" 
				iconColor="#979797" 
				iconPosition="right" />
			</div>
		</div>
	</div>
</div>