<div class="dialog-mask">
	<div class="dialog-container col-xs-10 col-xs-offset-1">
		<div class="dialog-left">
			<img :src="source" alt="image" class="dialog-image" />
		</div>
		<div class="dialog-right">
			<vue-markdown :source="text" />
			<div class="dialog-buttons-div">
				<Btn 
				v-for="(option, index) in options"
				:key="index"
				:text="option.buttonText"
				@click.native="emitOption(option.id, dialogID)"
				secondary="true"
				:class="options.length == 1 ? 'dialog-button-full' : 'dialog-button'"
				iconName="arrow-right" 
				iconColor="#ffffff" />
			</div>
		</div>
	</div>
</div>