<div class="mail-container" :class="get_layoutState.mail ? 'in' : ''">
  <div class="mail-container-body">
    <ul class="inbox-mail-subject-container go-left">
      <li>
        
      </li>
    </ul>
    <div class="inbox-mail-body-container go-right">
      <div class="sender">
        <p></p>
      </div>
      <div class="subject"></div>
      <div class="message">
        <p>
          Dear Students, 
          you will have to write a essay till the 22nd of Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
          Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur 
          ridiculus mus.Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus 
          pronin sapien nunc accuan eget.
          
          All the best
          Prof. Martinus
        </p>
      </div>
      <button>Respond to E-mail</button>
    </div>
  </div>
</div>