.content-cmp-wrapper {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 1;
    height: 100%;
    width: calc(100% - 90px);
    background-color: $white;
    // &-notebook-active {
    //     width: calc(50% - 90px);
    // }
}
.text-cmp {
    
}
.image-cmp {
    
}
.image-cmp-description {
    width: 75%;
}