.icon-right {
    position: absolute;
    top: 5px;
    right: 0px;
    height: $icon-height;
    width: $icon-height;
    border-radius: 50%;
    background-color: $white;
}

.icon-left {
    position: absolute;
    top: 5px;
    left: 0px;
    height: $icon-height;
    width: $icon-height;
    border-radius: 50%;
    background-color: $white;
}

.icon-none {
    display: none;
}

.icon-primary {
    background-color: $white;
}

.icon-secondary {
    background-color: $black;
}

.icon-tertiary {
    background-color: $base-primary;
}