.input-field {
   position: relative;
   display: block;
   margin: 0 10px 14px 0;
   height: $input-base-height + 1px;
   width: $input-base-width;
   box-shadow: inset 0 -1px 0 0 $base-primary;
   font-family: $font;
    &:disabled, &.disabled {
        border: $base-ghost-border;
        cursor: default;
        label {
            color: $base-uicolor-2;
        }
    }

    .errorMessage {
        position: absolute;
        top: 48px;
        width: 100%;
        font-size: 12px;
        display: none;
        color: red;
        border-top: 2px solid red;
        &-active {
            display: block;
        }
    }

   label {
       position: absolute;
       top: 16px;
       left: 10px;
       font-size: 16px;
       transition: all 0.3s;
   }

   input {
       display: block;
       width: 100%;
       height: $input-base-height;
       line-height: $input-base-height;
       border: none;
       padding-left: 10px;
       font-size: 16px;
   }

   &.focused {
       border: 2px solid $base-primary;
       height: auto;
        label {
            top: 5px;
            font-size: 11px;
            color: $base-primary;
        }
   }

   &.filled {
        border-bottom: 2px solid $base-primary;
        height: auto;
        label {
            top: 5px;
            font-size: 11px;
            color: $base-primary;
        }
    }
}