// CONTAINERS
.mail-container{
  position: absolute;
  top: $elements-space;
  left: 100%;
  z-index: 2;

  width: calc(100% - 90px);
  padding: 0 20px;
  background: white;
  
  transform: translateX(-90px);

  &.in{
    left: 0%;
    transform: translateX(0px);
  }

  transition: all 0.3s;

  .mail-container-body{
    border-top: $border;
    min-height: 100vh;
  }
}
.inbox-mail-subject-container{
  width: 450px;
  height: calc(100vh - 90px);
}

.inbox-mail-body-container{
  width: 450px;
  height: calc(100vh - 90px);
}