// NOTEBOOK SIDEBAR
.notebook-btn{
    position: fixed;
    top: $elements-space;
    right: 0;
    z-index: 3;
    width: $elements-space;
    height: 100%;
    border-left: $border;
    background: white;
  
    .close{
      position: relative;
      padding-top: 35px;
      text-align: center;
      z-index: 4;
    }

    .notebook-sidebar {
        height: 100%;
    }

    .rotatedText {
        position: relative;
        top: 40%;
        transform: rotate(-90deg);
    }
  }