// NOTEBOOK SIDEBAR
.notebook-btn{
    position: fixed;
    top: $elements-space;
    right: 0;
    z-index: 3;
    width: $elements-space;
    height: 100%;
    border-left: $border;
    background: white;
  
    .close{
      position: relative;
      padding-top: 35px;
      text-align: center;
      z-index: 4;
    }

    .notebook-sidebar {
        height: 100%;
    }

    .notebook-sidebar-right {
        height: 100%;
    }

    .rotatedText {
        position: absolute;
        top: 40%;
        transform: rotate(-90deg);
    }
}

.notebook-header {
    width: 100%;
    background-color: $select-item-hover;
    height: 10vh;
    font-size: $base-size;
    line-height: 30px;
    padding: 24px 75px 0;
    &-icon {
        position: relative !important;
        top: 5px !important;
        float: right;
    }
}

.notebook-body {
    width: 100%;
    height: 80vh;
}

.notebook-footer {
    width: 100%;
    height: 10vh;
}

.notebook-list {
    background-color: #0C0C0D;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    overflow: scroll;
    &-item {
        @extend .h5;
        padding: 0 75px;
        color: $white;
        list-style: none;
        position: relative;
        &-current {
            border: 1px solid white;
        }
        &-line {
            height: 32px;
            opacity: 0.3;
            &:before {
                content: '';
                border-left: 2px solid white;
                position: relative;
                left: 10px;
            }
        }
        &-arrow {
            height: 0px;
            width: 0px;
            opacity: 0.3;
            border-top: 5px solid white;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: relative;
            left: 6px;
            top: -3px;
        }
        &-index {
            font-size: $base-size;
            opacity: 0.3;
        }
    }
}

.notebook-chapter-menu {
    background-color: #0C0C0D;
    width: 100%;
    height: 10vh;
}

.chapter-menu-icon {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding-top: 28px;
}