.select-field {
    @extend .input-field;
    border: none;
    background-color: $white;
    padding-left: 10px;
    padding-top: 16px;
    font-size: 16px;
}

.select-list {
    position: relative;
    top: -10px;
    left: 0;
    font-family: Helvetica;
    font-size: 16px;
    width: 100%;
    height: 100px;
    background-color: $white;
    display: block;
    list-style-type: none;
    &-item {
        padding-left: 10px;
        padding-top: 16px;
        height: 50px;
        border-bottom: 1px solid $base-primary;
        font-family: inherit;
        font-size: 16px;
    }
}