.upload-files {
    @extend .col-xs-12;
    font-family: $font;
}

.upload-files-title {
    margin: 20px;
}

.upload-files-body {
    @extend .col-xs-10;
    height: 200px;
    background-color: $base-primary-border;
    display: flex;
    align-items: center;
    justify-content: space-around;
}