<div>
  <!-- MAIL SIDEBAR -->
  <div class="mail-sidebar clear-float" :class="get_layoutState.mail.opened ? 'in' : ''">
    <div
      class="mail-sidebar-open go-left"
      @click="switchMailLayout(true)">
      <img src="@/assets/images/mail.svg" />
      <div 
        class="new-mail-notification"
        v-if="get_mailNotificationState > 0">
        {{ get_mailNotificationState }}
      </div>
    </div>
    <h5 class="go-left">Mail-Inbox</h5>
    <div
      class="mail-sidebar-close go-right"
      @click="switchMailLayout(false)">
      <img src="@/assets/images/close.svg" />
    </div>
  </div>
  <!-- NOTEBOOK SIDEBAR -->
  <div class="notebook-btn">
    <div 
      v-if="get_layoutState.notebook.opened" 
      @click="switchNotebookLayout(false)"
      class="close">
      <img src="@/assets/images/close.svg" alt="image" />
    </div>
    <div class="notebook-sidebar-right" :class="get_layoutState.notebook.opened ? 'in' : ''" @click="switchNotebookLayout(true)">
      <p class="rotated-text">Notebook</p>
    </div>
  </div>
</div>