<div>
  <!-- MAIL SIDEBAR -->
  <div class="mail-sidebar-open" :class="get_layoutState.notebook.opened ? 'notebook-in' : ''" @click="switchMailLayout(true)">
    <div class="open">
      <img src="@/assets/images/mail.svg" />
    </div>
    <div 
      class="new-mail-notification"
      v-if="get_mailNotificationState > 0">
      {{ get_mailNotificationState }}
    </div>
  </div>
  <div class="mail-sidebar-close" :class="get_layoutState.mail.opened ? 'in' : ''" @click="switchMailLayout(false)">
    <div class="close">
      <img src="@/assets/images/close.svg" />
    </div>
  </div>
  <div class="mail-sidebar clear-float" :class="get_layoutState.mail.opened ? 'in' : ''">
    <div class="mail-sidebar-opened go-left col-xs-1">
      <img src="@/assets/images/mail.svg" />
      <div 
        class="new-mail-notification"
        :class="get_layoutState.mail.opened ? 'in' : ''"
        v-if="get_mailNotificationState > 0">
        {{ get_mailNotificationState }}
      </div>
    </div>
    <h5 class="go-left col-xs-3">Mail-Inbox</h5>
  </div>
  <!-- NOTEBOOK SIDEBAR -->
  <div class="notebook-btn" :class="get_layoutState.notebook.opened ? 'in' : ''">
    <div 
      v-if="get_layoutState.notebook.opened" 
      @click="switchNotebookLayout()"
      class="close">
      <img src="@/assets/images/close.svg" alt="image" />
    </div>
    <div class="notebook-sidebar-right" @click="switchNotebookLayout()">
      <p class="rotated-text">Notebook</p>
    </div>
  </div>
</div>