<div class="col-xs-4 classroom-wrapper">
	<div class="classroom" @click="emitChange">
		<h5 class="name">{{ item.classroom.name }}</h5>
		<p class="description">{{ item.classroom.description }}</p>
		<div class="footer small">
			<div class="time-span">
				<div class="start">{{ item.classroom.startClassAt }}</div>
				<SvgIcon class="icon" name="arrow-right" customColor="#8C8B89" sizeH="20px" sizeW="20px" />
				<div class="end">{{ item.classroom.endClassAt }}</div>
			</div>
			<div class="students">{{ item.numberOfUsers }} student<span v-if="item.numberOfUsers == 0 || item.numberOfUsers > 1">s</span></div>
		</div>
	</div>
</div>