<div class="select-div">
	<p v-if="selectedValue != 'Gender'"
		:class="genderLabel ? 'genderLabel' : ''" >
		Gender
	</p>
	<div 
		class="select-field"
		ref="selectWrapper"
		@click="[listOpened = true, activatedValidation = true]">
		{{ selectedValue }}
	</div>
	<!-- Error mark -->
	<div 
		v-if="required && error"
		class="errorMessage">* Field required
	</div>
	<!-- Dropdown list -->
	<ul 
		v-if="listOpened == true"
		class="select-list" >
		<li v-for="item in list"
			class="select-list-item"
			@click.self="optionSelection(item)" >{{ item.name }}
		</li>
	</ul>
</div>