<!-- Status bar -->
<div
  class="status-bar"
  :class="[
    get_layoutState.mail.opened ? 'out' : '',
    get_layoutState.notebook.opened ? 'halfed' : ''
  ]">
  <!-- <svgIcon
    v-if="get_gameState.timeBalance"
    name="clock"
    sizeH="20px"
    class="status-bar-icon" />
  <div
    v-if="get_gameState.moneyBalance"
    class="money">
      {{ get_gameState.moneyBalance }} &pound;
  </div>
  <div
    v-if="get_gameState.timeBalance"
    class="time">
      {{ get_gameState.timeBalance }}
  </div> -->
</div>