<div class="text-area-exercise" :class="answer != '' ? 'filled' : ''">
    <textarea
        autofocus
        ref="textarea"
        :placeholder="placeholder"
        :id="exerciseId"
        v-model="answer"
        v-on:keyup="checkTyping"
        @keydown="textareaHandler">
    </textarea>
    <!-- Typing -->
    <div v-if="answer != '' && !readyForSubmit">
        <div class="small go-right typing">Typing...</div>
    </div>
    <div v-if="answer != '' && readyForSubmit">
        <div class="small go-right enter-to-submit">Press Enter to submit</div>
    </div>
</div>