<div class="notebook-content">
  <div 
    class="pageDisplay"
    v-for="(page, index) in list" 
    :key="index"
    :class="[ index == currentEntry ? 'np-front' : '', 
              index == currentEntry + 1 ? 'np-middle' : '', 
              index == currentEntry - 1 ? 'np-back' : '']">
    <!-- Notebook page header -->
    <div class="notebook-header" @click="toggleScroll" >
      <h2 class="title">{{ page.title }}</h2>
      <svgIcon
      name="dot-hamburger"
      sizeH="20px"
      class="notebook-header-icon" />
    </div>
    <!-- Notebook page body -->
    <p class="text p-lr-75">{{ page.text }}</p>

    <!-- Personal notes -->
    <button>+ Add personal note</button>
    <ul>
      <li
        style="border-top: 1px solid gray;" 
        v-for="(personalNote, index) in page.personalNotes" 
        :key="index"
        v-if="personalNote.notebookEntry.id == page.id">
          {{ personalNote.markdownContent }}
      </li>
    </ul>
  </div>
</div>