<div>
  <div
    class="pageDisplay"
    v-for="(page, index) in list"
    :key="index"
    :class="[ index == currentEntry ? 'np-front' : '',
              index == currentEntry + 1 ? 'np-middle' : '',
              index == currentEntry - 1 ? 'np-back' : '',
              index == currentEntry - 1 && currentEntry == list.length - 1 ? 'np-middle' : ''
            ]">
    <!-- Notebook page header -->
    <div class="notebook-header col-xs-10 col-xs-offset-1">
      <vue-markdown class="title" :source="page.title" />
      <div class="icon" @click="toggleScroll">
        <SvgIcon name="dot-hamburger" customColor="#8C8B89" />
      </div>
    </div>
    <div
      v-for="(component, index) in page.notebookContent"
      :key="index"
      class="mb-40 col-xs-10 col-xs-offset-1">
      <!-- Image Component -->
      <div
        v-if="component.type == 'ImageComponent'"
        class="notebook-page-image">
        <div>
          <div class="image-sticker"></div>
          <img :src="`${resourcesPath}${component.component.images[0].path}`" />
          <vue-markdown class="image-caption" v-if="component.component.caption" :source="component.component.caption" />
        </div>
      </div>
      <!-- Text Exercise Component -->
      <div
        v-if="component.type == 'TextExercise'"
        class="notebook-page-text">
        <vue-markdown :source="component.exerciseState.formatedInput" />
      </div>
      <!-- Personal Note -->
      <div
        v-if="component.type == 'PersonalNote'"
        class="added-personal-notes-box mb-40">
        <p>20.5.2018 - 10:32 - {{ page.title }}</p>
        <vue-markdown :source="component.personalNote.markdownContent" />
      </div>
    </div>
    <!-- Personal notes list -->
    <div class="personal-note-box font pt-40 col-xs-10 col-xs-offset-1" :class="openedPersonalNote ? 'active' : ''">
      <div class="note" :class="noteChanged ? 'active' : ''">
        <p>20.5.2018 - 10:48 - {{ page.title }}</p>
        <textarea
          :readonly="noteChanged"
          @focus="changePersonalNote(true)"
          @blur="changePersonalNote(false)"
          v-model="personalNoteText"
          v-on:keyup="checkTyping"></textarea>
      </div>
      <div v-if="personalNoteText != '' && !isAutosaved">
        <div class="small go-right typing">Typing...</div>
      </div>
      <div v-if="personalNoteText != '' && isAutosaved">
        <svgIcon class="icon go-right" name="check" />
        <div class="small go-right autosaved">Autosaved</div>
      </div>
    </div>
    <!-- Create personal note button -->
    <div class="col-xs-10 col-xs-offset-1 mb-50">
      <Btn
        @click.native="addPersonalNote(page.id)"
        class="button-personal-note"
        :class="openedPersonalNote ? 'active' : ''"
        text="Create new note"
        iconColor="#fff"
        primary="true"
        iconName="plus" />
    </div>
  </div>
</div>