<div class="image-component" :class="imageZoomed ? 'active' : ''">
  <!-- Zoom off -->
  <div v-if="!imageZoomed">
    <div class="image-gallery-container">
      <div 
        v-if="gallerySlide && sourceIndex > 0"
        class="image-slider-arrow prev-arrow"
        @click="prevImage">
        <SvgIcon class="icon" customColor="#fff" name="arrow-left" />
      </div>

      <img :src="`${resourcesPath}${sourceList[sourceIndex].path}`">

      <div 
        v-if="gallerySlide && sourceIndex + 1 < sourceList.length"
        class="image-slider-arrow next-arrow"
        @click="nextImage" >
        <SvgIcon class="icon" customColor="#fff" name="arrow-right" />
      </div>
    </div>
    <div 
      v-if="gallerySlide"
      class="image-slider-counter">
        {{ sourceIndex + 1 }} / {{ sourceList.length }}
    </div>
    <vue-markdown
      class="image-caption"
      :style="{ 'margin-left': captionOffset }"
      :source="text"/>
    <div
      v-if="zoomable"
      class="zoom-in"
      @click="toggleZoom">
      <SvgIcon class="icon" name="zoom-in" customColor="#fff" />
    </div>
  </div>
  <!-- Zoom on -->
  <div v-if="imageZoomed && !get_layoutState.dialog.opened" ref="imageMask" class="image-mask" @click="imageBlurred">
    <div
      class="image-container"
      :style="{width: zoomLevel == 0 ? '50%' : zoomLevel == 1 ? '60%' : zoomLevel == 2 ? '70%' : zoomLevel == 3 ? '80%' : zoomLevel == 4 ? '90%' : '100%'}">
      <img :src="`${resourcesPath}${sourceList[sourceIndex].path}`">
      <div class="zoom-out" @click="toggleZoom">
        <SvgIcon class="icon" name="zoom-out" customColor="#fff" />
      </div>
      <div class="zoom-plus" @click="incZoom">
        <SvgIcon class="icon" name="plus" customColor="#fff"/>
      </div>
      <div class="zoom-minus" @click="decZoom">
        <SvgIcon class="icon" name="minus" customColor="#fff"/>
      </div>
    </div>
  </div>
</div>