<div class="image-component" :class="imageZoomed ? 'active' : ''">
  <!-- Zoom off -->
  <div v-if="!imageZoomed">
    <div v-if="gallerySlide">
      <div @click="prevImage">Prev</div>
      <div @click="nextImage">Next</div>
      <div>{{ sourceIndex + 1 }} / {{ dummyList.length }}</div>
    </div>
    <img :src="`${resourcesPath}${sourceList[sourceIndex].path}`">
    <vue-markdown
      class="image-caption"
      :style="{ 'margin-left': captionOffset }"
      :source="text"/>
    <div
      v-if="zoomable"
      class="zoom-in"
      @click="toggleZoom">
      <SvgIcon class="icon" name="zoom-in" />
    </div>
  </div>
  <!-- Zoom on -->
  <div v-if="imageZoomed && !get_layoutState.dialog.opened" ref="imageMask" class="image-mask" @click="imageBlurred">
    <div
      class="image-container"
      :style="{width: zoomLevel == 0 ? '50%' : zoomLevel == 1 ? '60%' : zoomLevel == 2 ? '70%' : zoomLevel == 3 ? '80%' : zoomLevel == 4 ? '90%' : '100%'}">
      <img :src="`${resourcesPath}${sourceList[sourceIndex].path}`">
      <div class="zoom-out" @click="toggleZoom">
        <SvgIcon class="icon" name="zoom-out" />
      </div>
      <div class="zoom-plus" @click="incZoom">
        <SvgIcon class="icon" name="plus" />
      </div>
      <div class="zoom-minus" @click="decZoom">
        <SvgIcon class="icon" name="minus" />
      </div>
    </div>
  </div>
</div>