.button {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;

    &:disabled, &.disabled {
        opacity: 0.3;
    }
}

.button--primary {
    background-color: $base-primary;
    color: $white;
    &:hover {
        background-color: $base-primary-hover;
    }
}

.button--secondary {
    background-color: $base-secondary;
    color: $white;
    &:hover {
        background-color: $base-secondary-hover;
    }
}

.button-ghost {
    background-color: $base-uicolor-4;
    color: $black;
    &:hover {
        background-color: $base-uicolor-2;
    }
}