$width: 100%;
$min-height: 3.125rem;

.button {
    position: relative;
    display: block;
    width: $width;
    min-height: $min-height;
    text-align: center;
    overflow: auto;
    padding: 0.9375rem 2.5rem;
    overflow: hidden;
    cursor: pointer;
    &:disabled, &.disabled {
        opacity: 0.3;
    }
}

.button--primary {
    background-color: $base-primary;
    color: $white;
    &:hover {
        background-color: $base-primary-hover;
    }
}

.button--secondary {
    background-color: $base-secondary;
    color: $white;
    &:hover {
        background-color: $base-secondary-hover;
    }
}

.button-ghost {
    background-color: $base-ghost;
    color: $black;
}