$height: 40px;
$width: $height;

.icon-right {
    position: absolute;
    top: 15px;
    right: 0px;
}

.icon-left {
    position: absolute;
    top: 15px;
    left: 0px;
}

.icon-primary {
    background-color: $white;
}

.icon-secondary {
    background-color: $black;
}