$height: 50px;
$width: 100%;
$max-width: 1000px;

.input-field {
   position: relative;
   box-sizing: border-box;
   display: block;
   margin-bottom: 20px;
   height: $height;
   width: $width;
   box-shadow: 0 1px 0 0 $base-primary;
   &.disabled {
       color: $base-uicolor-2;
       border: $base-ghost-border;
   }

    .errorMessage {
        position: absolute;
        top: 50px;
        padding-top: 3px;
        width: 100%;
        font-size: 0.75rem;
        color: $base-accent;
        border-top: 2px solid $base-accent;
    }

   label {
       @extend .label;
       font-size: 1rem;
       position: absolute;
       top: 20px;
       left: 10px;
       transition: all 0.3s;
   }

   input {
       display: block;
       width: 100%;
       height: $height;
       border: none;
       padding-left: 10px;
       padding-top: 6px;
   }

   &.focused {
       box-shadow: 0 2px 0 0 $base-primary;
        label {
            top: 5px;
            @extend .label;
            color: $base-primary;
        }
   }

   &.verified {
        box-shadow: 0 0 0 2px $base-primary;
        height: auto;
        label {
            top: 5px;
            @extend .label;
            color: $base-primary;
        }
    }
}