.download-list-item {
    position: relative;
    min-height: 6rem;
    height: auto;
    padding: 15px 0;
    background-color: $white;
    box-shadow: inset 0 -1px 0 0 $base-uicolor-2;

    .left {
        display: initial;
        position: relative;
        top: 50%;
        padding-right: 120px;
        transform: translateY(-50%);
    }

    .right {
        position: absolute;
        top: 50%;
        right: 0;
        width: 120px;
        display: inline-block;
        text-align: right;
        transform: translateY(-50%);

        .continue {
            display: inline-block;
            vertical-align: middle;
            color: $base-primary;
            cursor: pointer;
        }

        .download {
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            cursor: pointer;
        }
    }

}

ol li {
    @extend .p;
    counter-increment: list;
    list-style-type: none;
    position: relative;
}

ol li:before {
    position: absolute;
    left:-32px;
    width: 26px;
    text-align: right;
    color: $base-primary;
    content: counter(list) ".";
}