.download-list-item {
    display: table;
    width: 100%;
    min-height: 6rem;
    padding: 15px 0;
    background-color: $white;
    box-shadow: inset 0 -1px 0 0 $base-uicolor-2;

    .left {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }

    .right {
        display: table-cell;
        text-align: right;
        vertical-align: middle;

        .continue {
            display: inline;
            vertical-align: middle;
            color: $base-primary;
            cursor: pointer;
        }

        .download {
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            cursor: pointer;
        }
    }

}

ol li {
    @extend .p;
    counter-increment: list;
    list-style-type: none;
    position: relative;
}

ol li:before {
    position: absolute;
    left:-32px;
    width: 26px;
    text-align: right;
    color: $base-primary;
    content: counter(list) ".";
}