.ordered-list {
    @extend .p;
    position: relative;
    background-color: $base-ghost;
    padding-left: 10px;
    margin-top: 20px;
    list-style: decimal;
    &-item {
        width: 100%;
        height: 50px;
        padding-left: 40px;
        padding-top: 10px;
    }
}

.unordered-list {
    @extend .p;
    position: relative;
    background-color: $base-ghost;
    padding-left: 10px;
    margin-top: 20px;
    &-item {
        width: 100%;
        height: 50px;
        padding-left: 40px;
        padding-top: 10px;
    }
}

.download-list {
    @extend .p;
    position: relative;
    background-color: $base-ghost;
    margin-top: 20px;
    &-item {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        padding-top: 10px;
        border: 1px solid $base-primary;
        &:hover {
            background-color: $background-hover;
        }
    }
}

.link-list {
    @extend .p;
    position: relative;
    background-color: $base-ghost;
    margin-top: 20px;
    &-item {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        padding-top: 10px;
        border: 1px solid $base-primary;
        &:hover {
            background-color: $background-hover;
        }
    }
}

ol li {
    @extend .p;
    counter-increment: list;
    list-style-type: none;
    position: relative;
}

ol li:before {
    color: $base-primary;
    content: counter(list) ".";
    left:-32px;
    position: absolute;
    text-align: right;
    width: 26px;
}