.notification {
    position: fixed;
    top: 0;
    right: 90px;
    height: 90px;
    width: 23.5rem;
    text-align: center;
    line-height: 90px;
    font-family: 'Apercu';
    font-size: 18px;
    overflow: hidden;
    background-color: $base-uicolor-3;
    box-shadow: inset 0 -1px 0 0 $base-uicolor-2;
    z-index: 10;
}