.select-div {
    position: relative;
    &.active {
        box-shadow: 0 0 0 2px $base-primary;
    }
}

.select-field {
    @extend .input-field;
    background-color: $white;
    padding-left: 10px;
    padding-top: 16px;
    font-size: $base-size;

    &.openedList{
        .select-field-arrow{
            transform: rotate(180deg)
        }
    }
}

.select-list {
    position: absolute;
    z-index: 1;
    top: 0px;
    font-size: $base-size;
    width: 100%;
    height: auto;
    background-color: $white;
    display: block;
    list-style-type: none;
    box-shadow: 0 0 0 2px $base-primary;
    &-item {
        padding: 0 10px;
        padding-top: 16px;
        height: $input-base-height;
        font-size: inherit;
        border-bottom: $base-ghost-border;
        &:hover {
            background-color: $select-item-hover;
            border: $base-ghost-border;
            cursor: pointer;
        }
        &.disabled {
            pointer-events: none;
            color: #EAEDF0;
        }
    }
}

.genderLabel {
    font-size: 11px;
    padding-left: 10px;
    color: $base-primary;
    position: absolute;
    top: 5px;
    z-index: 1;
}

.errorMessage {
    position: absolute;
    top: 50px;
    padding-top: 1px;
    width: 100%;
    font-size: 12px;
    color: $base-accent;
    border-top: 2px solid $base-accent;
}

.select-field-arrow {
    z-index: 2;
    width: 20px;
    margin-right: 10px;
    transition: all 0.3s;
}