$height: 2.5rem;
$width: $height;

svg use g{
    fill: red;
}

.icon-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0px;
}

.icon-left {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0px;
}

.icon-primary {
    background-color: $white;
}

.icon-secondary {
    background-color: $black;
}