$height: 2.5rem;
$width: $height;

.icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.icon-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.icon-primary {
    background-color: $white;
}

.icon-secondary {
    background-color: $black;
}