$height: 2.5rem;
$width: $height;

.icon-right {
    position: absolute;
    top: calc(50% - 0.625rem);
    right: 0px;
}

.icon-left {
    position: absolute;
    top: calc(50% - 0.625rem);
    left: 0px;
}

.icon-primary {
    background-color: $white;
}

.icon-secondary {
    background-color: $black;
}