.tooltip {
    position: absolute;
    top: 0;
    right: -330px;
    @extend .small;
    border: 1px solid $base-primary;
    padding: 20px 0;
    width: 326.5px;
    height: 120px;
    box-shadow: 0 5px 10px 0 #474B59;
}