$height: 50px;
$width: 100%;

.input-field {
   position: relative;
   box-sizing: border-box;
   display: block;
   margin-bottom: 10px;
   height: $height;
   width: $width;

   &.disabled {
       color: $base-uicolor-2;
       border: $base-ghost-border;
       pointer-events: none;
   }

   label {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 90%;
        font-size: 1rem;
        line-height: 1.1875rem;
        font-family: $font-secondary;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all 0.3s;
   }

   input {
        display: block;
        width: 100%;
        height: $height;
        border: none;
        padding-left: 10px;
        padding-right: 40px;
        background-color: $base-uicolor-4;
        font-family: $font-secondary;

        &:required {
            box-shadow: none;
        }
        &:invalid {
            box-shadow: none;
        }
   }

   &.inputFocused {
        box-shadow: 0 0 0 2px $base-primary;
        height: auto;

        label {
            @extend .label;
            top: 5px;
            color: $base-primary;
        }
   }

   &.inputFilled {
        box-shadow: none;
        height: auto;
        
        label {
            @extend .label;
            top: 5px;
            color: $base-primary;
        }
    }

   &.inputDisabled {
        opacity: 0.3;
        pointer-events: none;
        height: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        label {
            @extend .label;
            top: 5px;
            color: $base-primary;
        }
   }
}

.input-icon {
    position: absolute;
    top: 5px;
    right: 0px;
    cursor: help;
}