$height: 50px;
$width: 100%;

.input-field {
   position: relative;
   box-sizing: border-box;
   display: block;
   margin-bottom: 10px;
   height: $height;
   width: $width;
   &.disabled {
       color: $base-uicolor-2;
       border: $base-ghost-border;
   }

   label {
       font-size: 1rem;
       line-height: 1.1875rem;
       position: absolute;
       top: 20px;
       left: 10px;
       transition: all 0.3s;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       width: 95%;
   }

   input {
        display: block;
        width: 100%;
        height: $height;
        border: none;
        padding-left: 10px;
        padding-right: 40px;
        padding-top: 6px;
        background-color: $background-hover;
   }

   &.inputFocused {
        box-shadow: 0 0 0 2px $base-primary;
        height: auto;
        label {
            @extend .label;
            top: 5px;
            color: $base-primary;
        }
   }

   &.inputDisabled {
        opacity: 0.3;
        pointer-events: none;
        box-shadow: 0 0 0 2px $base-primary;
        height: auto;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        label {
            @extend .label;
            top: 5px;
            color: $base-primary;
        }
   }

   &.filled {
        box-shadow: 0 2px 0 0 $base-primary;
    }
}

.input-icon {
    position: absolute;
    top: calc(50% - 0.625rem);
    right: 0px;
    cursor: help;
}