<div class="page-components-wrapper col-xs-12">
  <div 
    v-for="(component, index) in get_PageComponents"
    :key="index"
    class="component-wrapper"
    :class="`col-xs-${component.component.numberOfColumns} col-xs-offset-${component.component.offsetColumns}`" >
    <!-- Text -->
    <vue-markdown class="mb-40"
      :style="{
        'margin-left': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : '',
        'margin-right': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : ''
      }"
      v-if="component.type == 'TextComponent'" 
      :source="component.component.markdownContent" />
    <!-- Link -->
    <div v-if="component.type == 'LinkComponent'">
      <a
        class="mb-40"
        :href="component.component.url"
        target="_blank">
        {{ component.component.url }}
      </a>
    </div>
    <!-- Image -->
    <ImageComponent
      v-if="component.type == 'ImageComponent'"
      :sourceList="component.component.images"
      :text="component.component.caption"
      :captionOffset="component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : '25%'"
      :zoomable="component.component.zoomable" />
    <!-- Date Component -->
    <div v-if="component.type == 'DateExercise'" class="mb-40">
      <v-date-picker
        :formats='formats'
        @dayclick="dateEmit($event, component.state.id)"
        v-model='selectedDate'>
      </v-date-picker>
    </div>
    <!-- Exercise Radio -->
    <div v-if="component.type == 'RadioButtonExercise'">
      <ExerciseRadio
        class="mb-40"
        :style="{
          'margin-left': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : '',
          'margin-right': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : ''
        }"
        @emitRadioChange="submitAnswer"
        :exerciseId="component.state.id"
        :list="component.component.options"
        :name="component.type" />
    </div>
    <!-- Exercise Checkbox -->
    <div v-if="component.type == 'CheckboxExercise'">
      <ExerciseCheckbox
        class="mb-40"
        :style="{
          'margin-left': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : '',
          'margin-right': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : ''
        }"
        @emitCheckboxChange="submitAnswer"
        :exerciseId="component.state.id"
        :optionsList="component.component.options"
        :name="component.type" />
    </div>
    <!-- Upload -->
    <div v-if=" component.type == 'UploadExercise'">
      <ExerciseUpload :exerciseId="component.state.id"/>
    </div>
    <!-- Exercise Text Area -->
    <ExerciseTextArea
      v-if="component.type == 'TextExercise'"
      class="mb-40"
      :exerciseId="component.state.id"
      :placeholder="component.component.placeholderText"
      @emitInputAreaAnswer="submitAnswer" />
    <!-- Link component -->
    <LinkComponent 
      v-if="component.type == 'LinkComponent'"
      class="mb-40" 
      :linkSource="component.component.resource.path"
      :text="component.component.linkText" />
    <!-- Audio component -->
    <div v-if="component.type == 'AudioComponent'">
      <AudioComponent 
        :source="component.component.audio.path" 
        :componentID="component.component.audio.id"
        :caption="component.component.caption"
        :numberOfColumns="component.component.numberOfColumns" />
    </div>
    <!-- Video component -->
    <div v-if="component.type == 'VideoComponent'">
      <VideoComponent 
        :componentID="component.component.video.id"
        :numberOfColumns="component.component.numberOfColumns"
        :source="component.component.video.path"
        :caption="component.component.caption" />
    </div>
  </div>

</div>