<div class="page-components-wrapper col-xs-12">
  <div 
    v-for="(component, index) in get_PageComponents"
    :key="index"
    class="component-wrapper"
    :class="`col-xs-${component.component.numberOfColumns} col-xs-offset-${component.component.offsetColumns}`" >
    <!-- Text -->
    <vue-markdown class="mb-40"
      :style="{
          'margin-left': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : '',
          'margin-right': component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : ''
        }"
      v-if="component.type == 'TextComponent'" 
      :source="component.component.markdownContent" />
    <!-- Link -->
    <div v-if="component.type == 'LinkComponent'">
      <a
        class="mb-40"
        :href="component.component.url"
        target="_blank">
        {{ component.component.url }}
      </a>
    </div>
    <!-- Image -->
    <ImageComponent
      v-if="component.type == 'ImageComponent'"
      :sourceList="component.component.images"
      :text="component.component.caption"
      :captionOffset="component.component.numberOfColumns == 10 || get_layoutState.notebook.opened ? '10%' : '25%'"
      :zoomable="component.component.zoomable" />
    <!-- Date Component -->
    <div v-if="component.type == 'DateExercise'" class="mb-40">
      <v-date-picker
        :formats='formats'
        @dayclick="dateEmit($event, component.state.id)"
        v-model='selectedDate'>
      </v-date-picker>
    </div>
    <!-- Exercise Radio -->
    <ExerciseRadio
      class="mb-40"
      @emitRadioChange="submitAnswer"
      v-if="component.type == 'RadioButtonExercise'"
      :exerciseId="component.state.id"
      :list="component.component.options"
      :name="component.type" />
    <!-- Exercise Checkbox -->
    <ExerciseCheckbox
      class="mb-40"
      @emitCheckboxChange="submitAnswer"
      v-if="component.type == 'CheckboxExercise'"
      :exerciseId="component.state.id"
      :optionsList="component.component.options"
      :name="component.type" />
    <!-- Exercise Text -->
    <!-- <ExerciseText
      class="mb-40"
      @emitInputAnswer="submitAnswer"
      v-if="component.type == 'TextExercise'"
      :exerciseId="component.exerciseState.id"
      :placeholder="component.placeholderText" /> -->
    <!-- Exercise Text Area -->
    <ExerciseTextArea
      v-if="component.type == 'TextExercise'"
      class="mb-40"
      :exerciseId="component.state.id"
      :placeholder="component.component.placeholderText"
      @emitInputAreaAnswer="submitAnswer" />
    <!-- PDF -->
    <div v-if="component.type == 'PdfComponent'" >
      <a
        class="mb-40"
        :href="`${resourcesPath}${component.component.pdf.path}`"
        target="_blank">
        PDF
      </a>
    </div>
    <!-- Audio component -->
    <div v-if="component.type == 'AudioComponent'">
      <div class="audio-container">
        <audio
          id="audio"
          @timeupdate="updateAudioTimeRange">
          <source :src="`${resourcesPath}${component.component.audio.path}`" type="audio/ogg">
          <source :src="`${resourcesPath}${component.component.audio.path}`" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>
        <!-- Bottom video controls -->
        <div id="audio-controls">
          <div class="audio-name small">
            Name
          </div>
          <input
            type="range"
            id="audio-seek-bar"
            value="0"
            step="0.1"
            @mousedown="moveRangeAudioThumb"
            @mouseup="rangeAudioThumbMoved"
            @change="changeAudioTimeRange">
          <div
            id="audio-play-small"
            @click="togglePlayAudio">
            <SvgIcon :name="audioPaused ? 'play' : 'pause'" />
          </div>
          <div id="audio-time-passed" class="small">
            {{ audioCurrentTime }} / {{ audioDuration }}
          </div>
        </div>
      </div>
      <vue-markdown
        class="audio-caption mb-40"
        :style="{'margin-left': component.component.numberOfColumns == 10 ? '10%' : ''}"
        :source="component.component.caption" />
    </div>
    <!-- Video component -->
    <div v-if="component.type == 'VideoComponent'">
      <div
        class="video-container"
        @mouseover="videoHovered = true"
        @mouseleave="videoHovered = false">
        <video
          id="video"
          @timeupdate="updateVideoTimeRange">
          <source :src="`${resourcesPath}${component.component.video.path}`" type="video/mp4">
          <source :src="`${resourcesPath}${component.component.video.path}`" type="video/webm" />
          <source :src="`${resourcesPath}${component.component.video.path}`" type="video/ogg" />
          <p>Your browser does not support the video tag.</p>
        </video>
        <!-- Play button center -->
        <div
          v-show="videoHovered"
          id="play-big"
          @click="togglePlayVideo">
          <SvgIcon :name="videoPaused ? 'play' : 'pause'" sizeH="50" sizeW="50"/>
        </div>
        <!-- Bottom video controls -->
        <div
          v-show="videoHovered"
          id="video-controls">
          <input
            type="range"
            id="video-seek-bar"
            value="0"
            step="0.1"
            @mousedown="moveRangeVideoThumb"
            @mouseup="rangeVideoThumbMoved"
            @change="changeVideoTimeRange">
          <div
            id="video-play-small"
            @click="togglePlayVideo">
            <SvgIcon :name="videoID.paused ? 'play' : 'pause'" />
          </div>
          <div id="video-time-passed" class="small">
            {{ videoCurrentTime }} / {{ videoDuration }}
          </div>
          <div id="full-screen" @click="toggleFullScreen">
            <SvgIcon name="zoom-in" customColor="#fff" />
          </div>
        </div>
      </div>
      <vue-markdown
        class="video-caption mb-40"
        :style="{'margin-left': component.component.numberOfColumns == 10 ? '10%' : ''}"
        :source="component.component.caption" />
    </div>
  </div>

</div>