<div class="dialog-mask">
	<div class="dialog-container"
		:class="newDialog ? 'dialog-container-active' : ''">
		<div class="dialog-image"
			:class="newDialog ? 'dialog-image-active' : ''">
		</div>
		<div class="dialog-content"
			:class="newDialog ? 'dialog-content-active' : ''">
			<div class="dialog-header">
				<slot name="header">
				<div class="dialog-title">
					{{ dialogTitle }}
				</div>
				</slot>
			</div>
			<div class="dialog-body">
				<slot name="body">
				<div class="dialog-text">
					{{ dialogText }}
				</div>
				</slot>
			</div>
			<div class="dialog-footer"
			:class="newDialog ? 'dialog-footer-inactive' : ''">
				<Btn secondary="true" class="button-dialog" 
					v-for="(option, index) in options"
					:key="index"
					:text="option.text" />
			</div>
			<button v-if="newDialog"
					class="dialog-scrollbar"
			>Scrollbar</button>
		</div>
	</div>
	<button class="dialog-close-button" @click="$emit('close')">
		Close Dialog
	</button>
</div>