<div class="dialog-mask">
	<div class="dialog-container"
		:class="dialogScroll ? 'dialog-container-active' : ''">
		<div class="dialog-image"
			:class="dialogScroll ? 'dialog-image-active' : ''">
		</div>
		<div class="dialog-content"
			:class="dialogScroll ? 'dialog-content-active' : ''">
			<div class="dialog-header">
				<slot name="header">
				<DialogTitle />
				</slot>
			</div>
			<div class="dialog-body">
				<slot name="body">
				<DialogText />
				</slot>
			</div>
			<div class="dialog-footer">
				<Btn secondary="true" text="Option A" class="button-dialog" />
				<Btn secondary="true" text="Option B" class="button-dialog" />
			</div>
		</div>
	</div>
	<button class="dialog-close-button" @click="$emit('close')">
		Close Dialog
	</button>
</div>