<div class="col-xs-4 student-wrapper">
	<div class="student" @click="emitChange">
		<div class="left">
			<div class="profile-photo"></div>
			<div class="icon">
				<SvgIcon name="download-pdf" customColor="#8C8B89" />
			</div>
		</div>
		<div class="right">
			<h6 class="name">{{ item.user.name }}</h6>
			<div class="files small">
				<span v-if="item.startedAt && !item.finishedAt">Playing</span>
				<span v-if="item.finishedAt">Finished</span>
			</div>
			<div class="mail-address small">{{ item.user.mail }}</div>
		</div>
	</div>
</div>