<div class="inbox-mail-list-container col-xs-4 go-left">
  <ul>
    <li
      v-for="(item, index) in list"
      :key="index"
      class="inbox-mail-list-container-li"
      :class="selectedIndex == index ? 'selected' : ''"
      @click="emitMailListClick(index, item.mail.id); selectMail(item.mail.id)">
      <div 
        v-if="!item.read" 
        class="mail-unread-dot col-xs-1">
        <div class="dot"></div>
      </div>
      <h6 class="col-xs-7 h6">{{ item.mail.from.name }}</h6>
      <!-- <p class="current-date-time">Today, 14:28</p> -->
      <vue-markdown
        class="short-mail"
        :html="!falseHtml"
        :source="item.mail.body" />
    </li>
  </ul>
</div>