@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Kalam Light'), local('Kalam-Light'), url('../../../assets/fonts/Kalam-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kalam'), local('Kalam-Regular'), url('../../../assets/fonts/Kalam-Regular.ttf') format('truetype');
}
