// MAIL SIDEBAR
.mail-sidebar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  width: $elements-space;
  height: $elements-space;
  border-left: $border;
  border-bottom: $border;
  background: white;
  overflow: hidden;

  transition: width 0.3s, border-bottom 0s, border-left 0s;

  &.notebook-in {
    border-bottom: none;
    border-left: none;
    background-color: $white;
    box-shadow: inset 1px 0px 0 0 $base-uicolor-4;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }

  &.in{
    width: 100%;
    padding-left: 40px;
    z-index: 20;

    h5{
      opacity: 1;
    }

    .mailIconActive {
      position: absolute;
      top: 25px;
      left: 88px;
      height: 20px;
      width: 20px;
      color: $white;
      background-color: $base-accent;
      border-radius: 50%;
      font-size: 16px;
      text-align: center;
      line-height: 20px;
      vertical-align: middle;
    }
  }

  .mailIconActive {
    position: absolute;
    top: 25px;
    left: 47px;
    height: 20px;
    width: 20px;
    color: $white;
    background-color: $base-accent;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
  }

  .mail-sidebar-open{
    position: relative;
    width: $elements-space;
    height: $elements-space;
    padding-top: 35px;
    text-align: center;
    cursor: pointer;
  }

  h5 {
    opacity: 0;
    padding-top: 30px;
  }

  .mail-sidebar-close{
    width: $elements-space;
    height: $elements-space;
    padding-top: 35px;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  .new-mail-notification{
    position: absolute;
    right: 25px;
    top: 28px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: #fff;
    padding-top: 3px;
    text-align: center;
    background: red;
    border-radius: 50%;
  }
}

// NOTEBOOK SIDEBAR
.notebook-btn{
  position: fixed;
  top: $elements-space;
  right: 0;
  z-index: 11;
  width: $elements-space;
  height: 100%;
  border-left: $border;
  background: $white;
  cursor: pointer;

  &.in {
    border-left: none;
    box-shadow: inset 1px 0 0 0 $base-uicolor-2;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }

  .close{
    position: absolute;
    width: 100%;
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
    text-align: center;
    z-index: 4;
    background-color: $white;
    box-shadow: inset 1px 0 0 0 $base-uicolor-2;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    cursor: pointer;
  }

  .notebook-sidebar-right {
      height: 100%;
    
      .rotated-text {
        position: relative;
        top: 50%;
        padding-left: 90px;
        transform: rotate(-90deg);
      }
  }
}