// MAIL SIDEBAR
.mail-sidebar-btn-wrap{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  width: $elements-space;
  height: $elements-space;
  border-left: $border;
  border-bottom: $border;
  background-color: white;

  &.in {
    // State for mail opened
    border-left: none;
  }

  &.notebook-in{
    // State for notebook opened
    background-image: linear-gradient(90deg, #DCDAD8 0%, #F2F0EE 100%);
    border-bottom: none;
  }
}

.mail-sidebar-icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: $elements-space;
  height: $elements-space;
  cursor: pointer;

  transition: all 0.3s;

  &.in {
    transform: scale(1);
  }

  &.out{
    transform: scale(0);
  }

  .icon-holder{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mail-sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 90px;
  height: 90px;
  border-bottom: $border;
  background: white;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s;

  &.in {
    left: 0;
    width: 100%;
    padding-right: 90px;
    padding-left: 40px;
    z-index: 10;
    opacity: 1;
  }

  .mail-sidebar-opened {
    position: relative;
    width: $elements-space;
    height: $elements-space;
    padding-top: 35px;
    padding-left: 0;
    cursor: pointer;
  }

  h5 {
    padding-top: 30px;
    font-weight: 200;
  }
}

.new-mail-notification {
  position: absolute;
  right: 23px;
  top: 25px;
  width: 20px;
  height: 20px;
  padding-top: 4px;
  font-family: 'Apercu-Bold';
  font-size: 12px;
  color: $white;
  text-align: center;
  background: $base-accent;
  border-radius: 50%;

  &.in {
    right: 53px;
  }
}

// NOTEBOOK SIDEBAR
.notebook-btn {
  position: fixed;
  top: $elements-space;
  right: 0;
  width: $elements-space;
  height: 100%;
  border-left: $border;
  box-shadow: none;
  background-image: none;
  background: $white;
  z-index: 11;
  cursor: pointer;
  transition: all 0.3s;
  transition: border-left 0s;

  &.in {
    border-left: none;
    background-image: linear-gradient(90deg, #DCDAD8 0%, #F2F0EE 100%);
  }

  .close{
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background-color: $white;
    background-image: linear-gradient(90deg, #DCDAD8 0%, #F2F0EE 100%);
    z-index: 4;
    cursor: pointer;
  }

  .notebook-sidebar-right {
      height: 100%;
    
      .rotated-text {
        position: relative;
        top: 50%;
        padding-left: 90px;
        transform: rotate(-90deg);
      }
  }
}