.status-bar{
    position: fixed;
    top: 0;
    right: $elements-space;
    height: $elements-space;
    padding-right: 20px;
    width: 100%;
    background-color: $white;
    z-index: 10;
  
    box-shadow: inset 0 -1px 0 0 $base-uicolor-2;
    text-align: right;
  
    &-icon {
      width: auto;
      float: right;
      margin-top: 38px;
    }
  
    .money {
      width: auto;
      float: right;
      padding-left: 30px;
      margin-top: 40px;
    }
  
    .time {
      width: auto;
      float: right;
      margin-top: 40px;
      padding-right: 30px;
      position: relative;
      border-right: 1px solid $base-uicolor-2;
    }
  
    &.out{
      right: 100%;
    }
    &.halfed{
      right: calc(50% + 45px);
    }
  
    transition: all 0.3s;
  }