<div class="dialog-mask">
	<button class="dialog-close-button" @click="$emit('close')">
		Close Dialog
	</button>
	<div class="dialog-container">
		<div class="dialog-left">
			<img v-for="image in images" :src="image.background" alt="image" class="dialog-image">
		</div>
		<div class="dialog-right">
			<div v-for="comp in components"
				:class="comp.name == 'title' ? 'dialog-title' : comp.name == 'subtitle' ? 'dialog-subtitle' : comp.name == 'text' ? 'dialog-text' : ''"
			>{{ comp.text }}</div>
			<Btn secondary="true" class="dialog-button" iconName="arrow-right"
				v-for="(option, index) in options"
				:key="index"
				:text="option.text" />
		</div>
	</div>
</div>