<div class="dialog-mask">
	<button class="dialog-close-button" @click="$emit('close')">
		Close Dialog
	</button>
	<div class="dialog-container">
		<div class="dialog-content">
			<div class="dialog-body">
				<div v-for="comp in components"
					:class="[
					comp.name == 'title' ? 'dialog-title' : comp.name == 'image' ? 'dialog-image' : comp.name == 'text' ? 'dialog-text' : '',
					comp.width == 1 ? 'col-xs-1' : comp.width == 2 ? 'col-xs-2' : comp.width == 3 ? 'col-xs-3' : comp.width == 4 ? 'col-xs-4' : comp.width == 5 ? 'col-xs-5' : comp.width == 6 ? 'col-xs-6' : comp.width == 7 ? 'col-xs-7' : comp.width == 8 ? 'col-xs-8' : comp.width == 9 ? 'col-xs-9' : comp.width == 10 ? 'col-xs-10' : comp.width == 11 ? 'col-xs-11' : comp.width == 12 ? 'col-xs-12' : '',
					]"
					:style="{ 'background': 'url(' + comp.background + ')' }"
				>{{ comp.text }}</div>
			</div>
			<div class="dialog-footer">
				<Btn secondary="true" class="button-dialog" 
					v-for="(option, index) in options"
					:key="index"
					:text="option.text" />
			</div>
		</div>
	</div>
</div>