<div class="inbox-mail-body-container go-right">
  <div class="sender">
    <div v-if="sendingMail" class="send-mail-text">To</div>
    <h5>{{ `${mail.from.salutation} ${mail.from.firstName} ${mail.from.lastName}` }}</h5>
    <button v-if="!sendingMail" @click="respondToMail">Respond to E-Mail</button>
    <Btn 
      v-if="sendingMail" 
      class="send-mail-button" 
      secondary="true" 
      iconName="plane" 
      iconPosition="right" 
      iconColor="white" 
      text="Send E-Mail" />
  </div>
  <div class="subject">
    <div v-if="sendingMail" class="send-mail-text">Subject</div>
    <h4 class="lead" v-if="!sendingMail">{{ mail.subject }}</h4>
    <p class="lead" v-if="sendingMail">Re: {{ mail.subject }}</p>
  </div>
  <textarea
    ref="mailArea"
    v-if="sendingMail"
    class="message-textarea">
  </textarea>
  
  <div :class="!sendingMail ? 'message' : 'message-inactive'">
      <vue-markdown
      :source="mail.body" />
  </div>
  <button 
    v-if="!sendingMail" 
    class="respondMail"
    @click="respondToMail">
    Respond to E-Mail
  </button>
</div>