<div class="inbox-mail-body-container go-right">
  <div class="sender">
    <div v-if="sendingMail" class="send-mail-text">To</div>
    <h5>{{ `${selectedMail[0].from.salutation} ${selectedMail[0].from.firstName} ${selectedMail[0].from.lastName}` }}</h5>
    <button v-if="!sendingMail" @click="switchMail">Respond to E-Mail</button>
    <Btn 
      v-if="sendingMail" 
      class="send-mail-button" 
      secondary="true" 
      iconName="plane" 
      iconPosition="right" 
      iconColor="white" 
      text="Send E-Mail" />
  </div>
  <div class="subject">
    <div v-if="sendingMail" class="send-mail-text">Subject</div>
    <h4 class="lead" v-if="!sendingMail">{{ selectedMail[0].subject }}</h4>
    <p class="lead" v-if="sendingMail">Re: {{ selectedMail[0].subject }}</p>
    <p class="current-date-time">Today, 14:28</p>
  </div>
  <div contenteditable v-if="sendingMail" class="message-textarea"></div>
  <div :class="!sendingMail ? 'message' : 'message-inactive'">
      {{ selectedMail[0].mailBody }}
  </div>
  <button 
    v-if="!sendingMail" 
    class="respondMail" @click="switchMail" text="Send E-Mail">Respond to E-Mail</button>
</div>